.display-info {
    display: inline-block;
}

.title-res {
    display: inline-block;
    position: absolute;
    padding-left: 3%;
}

.table-info {
    display: inline-block; 
    padding-left: 3%; 
    padding-right: 1%;
}

.icon-primary {
    display: inline-block;  
    padding-right: 1%; 
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
}

.icon-secondary {
    display: inline-block; 
    padding-right: 1%;
    border-right: 1px solid #DADADA;
}