<div>
    <mat-card-title>{{'SETTINGS.CHANGE_PASSWORD' | translate}}</mat-card-title>
    <mat-card-content>
        <form [formGroup]="_changePasswordForm"  novalidate>
            <div>
                <mat-form-field style="width: 100%">
                    <input matInput required formControlName="old_password" placeholder="{{'PASSWORD' | translate}}" #inputOldPassword type="password"/>
                    <mat-hint align="end">{{inputOldPassword.value.length}} / 40</mat-hint>
                </mat-form-field>
                <div *ngIf="_changePasswordForm.controls['old_password'].hasError('required') && _changePasswordForm.controls['old_password'].touched" class="error-message">{{'SIGNUP.REQUIRED_PASSWORD' | translate}}</div>
                <div *ngIf="_changePasswordForm.controls['old_password'].hasError('minlength') && _changePasswordForm.controls['old_password'].touched" class="error-message">{{'SIGNUP.MIN_LENGTH_EMAIL' | translate}}</div>
                <div *ngIf="_changePasswordForm.controls['old_password'].hasError('maxlength') && _changePasswordForm.controls['old_password'].touched" class="error-message">{{'SIGNUP.MAX_LENGTH_EMAIL' | translate}}</div>
            </div>
            <div>
                <mat-form-field style="width: 100%">
                    <input matInput required formControlName="new_password" placeholder="{{'SETTINGS.NEW_PASSWORD' | translate}}" #inputNewPassword type="password"/>
                    <mat-hint align="end">{{inputNewPassword.value.length}} / 40</mat-hint>
                </mat-form-field>
                <div *ngIf="_changePasswordForm.controls['new_password'].hasError('required') && _changePasswordForm.controls['new_password'].touched" class="error-message">{{'SIGNUP.REQUIRED_PASSWORD' | translate}}</div>
                <div *ngIf="_changePasswordForm.controls['new_password'].hasError('minlength') && _changePasswordForm.controls['new_password'].touched" class="error-message">{{'SIGNUP.MIN_LENGTH_PASSWORD' | translate}}</div>
                <div *ngIf="_changePasswordForm.controls['new_password'].hasError('maxlength') && _changePasswordForm.controls['panew_passwordssword'].touched" class="error-message">{{'SIGNUP.MAX_LENGTH_PASSWORD' | translate}}</div>
            </div>
            <div>
                <mat-form-field style="width: 100%">
                    <input matInput required formControlName="confirm_new_password" placeholder="{{'SETTINGS.CONFIRM_NEW_PASSWORD' | translate}}" #inputConfirmNewPassword type="password"/>
                    <mat-hint align="end">{{inputConfirmNewPassword.value.length}} / 40</mat-hint>
                </mat-form-field>
                <div *ngIf="_changePasswordForm.controls['confirm_new_password'].hasError('required') && _changePasswordForm.controls['confirm_new_password'].touched" class="error-message">{{'SIGNUP.REQUIRED_CONFIRM' | translate}}</div>
                <div *ngIf="_changePasswordForm.controls['confirm_new_password'].hasError('minlength') && _changePasswordForm.controls['confirm_new_password'].touched" class="error-message">{{'SIGNUP.MIN_LENGTH_PASSWORD' | translate}}</div>
                <div *ngIf="_changePasswordForm.controls['confirm_new_password'].hasError('maxlength') && _changePasswordForm.controls['confirm_new_password'].touched" class="error-message">{{'SIGNUP.MAX_LENGTH_PASSWORD' | translate}}</div>
            </div>
        </form>
    </mat-card-content>
    
    <mat-card-actions align="end">
        <button mat-raised-button class="secondary-button" (click)="cancel()">{{'CANCEL' | translate}}</button>
        <button mat-raised-button class="primary-button" type="submit" (click)="changePassword()">{{'MODIFY' | translate}}</button>
    </mat-card-actions>
</div>