.restaurant-card {
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;
}

.order-content {
    margin: 0 auto;

    .order-code {
        margin-right: 1rem;
    }
}

.button-actions {
    float: right;
    display: none;
}

mat-card-actions {
    display: block;
}

@media only screen and (min-width: 600px){
    .button-actions {
        display: block;
    }
    
    mat-card-actions {
        display: none;
    }
}

.order {
    background-color: white;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.order-table {
    float: right;
}

.order-detail {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 1%;

    .waiter-cancel-order-msg{
        color: red;
        font-weight: bold;
        margin: 0;
    }

    .message{
        text-align: center;
    }

    .title {
        display: inline-block;
    }

    .prepared-button{
        float: right;
    }

    .name{
        margin-bottom: 0%;
    }

    .observations{
        margin-bottom: 0%;
    }

    .no-garnish{
        display: inline-block;
        color: green;
        font-weight: bold;
        margin-bottom: 0%;
    }

    .garnish-food{
        .garnish-title{
            display: inline-block;
            color: green;
            font-weight: bold;
            margin-bottom: 0%
        }

        .garnish-name{
            display: inline-block;
            color: green;
            font-weight: bold;
            margin-bottom: 0%;
        }
    }

    .no-addition{
        display: inline-block;
        color: darkgoldenrod;
        font-weight: bold;
    }

    .addition{
        .addition-title{
            display: inline-block;
            color: darkgoldenrod;
            font-weight: bold;
        }

        .addition-name{
            display: inline-block;
            color: darkgoldenrod;
            font-weight: bold;
        }
    }
}

.card_image {
    background-image: url(/images/background_waiter.png); 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}