<div class="restaurant-card">
    <mat-card class="card_image">
        <mat-list>
            <mat-list-item *ngFor="let _res of _restaurants | async">
                    <img mat-list-avatar style="border-radius: 50%; width: 100px; height: 100px;" src="{{ getRestaurantImage( _res._id ) }}">
                <h2 mat-line style="font-size: 1.5rem;"> {{_res.name}} </h2>
                <p mat-line style="font-size: 1rem;">
                    <mat-icon style="vertical-align: middle">location_on</mat-icon>
                    <span> {{_res.address}} </span>
                </p>
                <p mat-line style="font-size: 1rem;">
                    <mat-icon style="vertical-align: middle">phone</mat-icon>
                    <span class="detail-message">{{_res.phone}} </span>
                </p>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>

<mat-card *ngIf="!_thereAreOrders">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" 
                        src="/images/categories.png"/>
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'ORDER_ATTENTION.NO_ORDERS' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div class="order-content"  *ngIf="_thereAreOrders">
    <div *ngFor="let order of _ordersInProcess | async;let i = index">
        <mat-toolbar class="order" (click)="showOrderInProcessDetail(order, i)">
            <img style="width: 3rem;" src="/images/my-orders.png">
            <span class="order-code">{{'ORDER_ATTENTION.ORDER' | translate}} # {{order.code}}</span>
            <span class="app-flex-filler"></span>
            <span *ngFor="let table of _tables | async">
                <ng-template [ngIf]="table._id === order.tableId">
                    <span class="order-table">{{'ORDER_ATTENTION.TABLE' | translate}} {{table._number}}</span>
                </ng-template>
            </span>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-toolbar>
        <div class="order-detail" *ngIf="_ordersInProcessIndex === i">
            <mat-card>
                <div *ngFor="let order of _ordersInProcessDetail | async;">
                    <mat-card-title class="title">{{'ORDER_ATTENTION.TITLE' | translate}} # {{order.code}}</mat-card-title>
                    <div class="button-actions">
                        <button mat-raised-button *ngIf="!orderMarkedToCancel(order)" class="primary-button prepared-button" (click)="setPreparedState(order)">{{'ORDER_ATTENTION.ORDER_PREPARED' | translate}}</button>
                        <button mat-raised-button *ngIf="orderMarkedToCancel(order)" class="primary-button prepared-button" (click)="deleteOrder(order)">{{'ORDER_ATTENTION.DELETE_ORDER' | translate}}</button>
                    </div>
                    <p *ngIf="orderMarkedToCancel(order)" class="waiter-cancel-order-msg">{{'ORDER_ATTENTION.ORDER_CANCELED_MSG' | translate}}</p>
                    <mat-card-content>
                        <mat-divider></mat-divider>
                        <span *ngFor="let item of _items | async">
                            <span *ngFor="let it of order.items">
                                <ng-template [ngIf]="item._id === it.itemId">
                                    <h2 class="name">{{it.quantity}} - {{item.name}}</h2>
                                    <p *ngIf="it.observations" class="observations">{{'ORDER_ATTENTION.OBSERVATIONS' | translate}}: {{it.observations}}</p>
                                    <p *ngIf="(it.garnishFood.length <= 0)" class="no-garnish">{{'ORDER_ATTENTION.NO_GARNISH_FOOD' | translate}}</p>
                                    <div *ngIf="(it.garnishFood.length > 0)" class="garnish-food">
                                        <p class="garnish-title">{{'ORDER_ATTENTION.GARNISH_FOOD' | translate}}:</p>
                                        <span *ngFor="let garnish of _garnishFoodCol | async">
                                            <span *ngFor="let gar of it.garnishFood">
                                                <ng-template [ngIf]="gar === garnish._id">
                                                    <p class="garnish-name">- {{garnish.name}}</p>     
                                                </ng-template>
                                            </span>
                                        </span>
                                    </div>
                                    <p class="no-addition" *ngIf="(it.additions.length <= 0)">- {{'ORDER_ATTENTION.NO_ADDITIONS' | translate}}</p>
                                    <div *ngIf="(it.additions.length > 0)" class="addition">
                                        <p class="addition-title">{{'ORDER_ATTENTION.ADDITIONS' | translate}}:</p>
                                        <span *ngFor="let addition of _additions | async">
                                            <span *ngFor="let add of it.additions">
                                                <ng-template [ngIf]="add === addition._id">
                                                    <p class="addition-name">- {{it.quantity}} {{addition.name}}</p>  
                                                </ng-template>
                                            </span>
                                        </span>
                                    </div>
                                    <mat-divider></mat-divider>
                                </ng-template>
                            </span>
                        </span>
                        <span *ngFor="let addit of _additions | async">
                            <span *ngFor="let ad of order.additions">
                                <ng-template [ngIf]="addit._id === ad.additionId">
                                    <h2 class="name">{{ad.quantity}} {{'ORDER_ATTENTION.ADDITION' | translate}} - {{addit.name}}</h2>
                                    <mat-divider></mat-divider>
                                </ng-template>
                            </span>
                        </span>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button *ngIf="!orderMarkedToCancel(order)" class="primary-button prepared-button" (click)="setPreparedState(order)">{{'ORDER_ATTENTION.ORDER_PREPARED' | translate}}</button>
                        <button mat-raised-button *ngIf="orderMarkedToCancel(order)" class="primary-button prepared-button" (click)="deleteOrder(order)">{{'ORDER_ATTENTION.DELETE_ORDER' | translate}}</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
    <div *ngFor="let order of _ordersCanceled | async;let in = index">
        <mat-toolbar class="order" (click)="showOrderCanceledDetail(order, in)">
            <img style="width: 3rem;" src="/images/others-orders.png">
            <span class="order-code">{{'ORDER_ATTENTION.ORDER' | translate}} # {{order.code}} <span style="color:red" *ngIf="order.status === 'ORDER_STATUS.CANCELED'">- {{order.status | translate}}</span></span>
            <span class="app-flex-filler"></span>
            <span *ngFor="let table of _tables | async">
                <ng-template [ngIf]="table._id === order.tableId">
                    <span class="order-table">{{'ORDER_ATTENTION.TABLE' | translate}} {{table._number}}</span>
                </ng-template>
            </span>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-toolbar>
        <div class="order-detail" *ngIf="_ordersCanceledIndex === in">
            <mat-card>
                <div *ngFor="let order of _ordersCanceledDetail | async;">
                    <mat-card-title class="title">{{'ORDER_ATTENTION.TITLE' | translate}} # {{order.code}}</mat-card-title>
                    <button mat-raised-button *ngIf="!orderMarkedToCancel(order)" class="primary-button prepared-button" (click)="setPreparedState(order)">{{'ORDER_ATTENTION.ORDER_PREPARED' | translate}}</button>
                    <button mat-raised-button *ngIf="orderMarkedToCancel(order)" class="primary-button prepared-button" (click)="deleteOrder(order)">{{'ORDER_ATTENTION.DELETE_ORDER' | translate}}</button>
                    <p *ngIf="orderMarkedToCancel(order)" class="waiter-cancel-order-msg">{{'ORDER_ATTENTION.ORDER_CANCELED_MSG' | translate}}</p>
                    <mat-card-content>
                        <mat-divider></mat-divider>
                        <span *ngFor="let item of _items | async">
                            <span *ngFor="let it of order.items">
                                <ng-template [ngIf]="item._id === it.itemId">
                                    <h2 class="name">{{it.quantity}} - {{item.name}}</h2>
                                    <p *ngIf="it.observations" class="observations">{{'ORDER_ATTENTION.OBSERVATIONS' | translate}}: {{it.observations}}</p>
                                    <p *ngIf="(it.garnishFood.length <= 0)" class="no-garnish">{{'ORDER_ATTENTION.NO_GARNISH_FOOD' | translate}}</p>
                                    <div *ngIf="(it.garnishFood.length > 0)" class="garnish-food">
                                        <p class="garnish-title">{{'ORDER_ATTENTION.GARNISH_FOOD' | translate}}:</p>
                                        <span *ngFor="let garnish of _garnishFoodCol | async">
                                            <span *ngFor="let gar of it.garnishFood">
                                                <ng-template [ngIf]="gar === garnish._id">
                                                    <p class="garnish-name">- {{garnish.name}}</p>     
                                                </ng-template>
                                            </span>
                                        </span>
                                    </div>
                                    <p class="no-addition" *ngIf="(it.additions.length <= 0)">- {{'ORDER_ATTENTION.NO_ADDITIONS' | translate}}</p>
                                    <div *ngIf="(it.additions.length > 0)" class="addition">
                                        <p class="addition-title">{{'ORDER_ATTENTION.ADDITIONS' | translate}}:</p>
                                        <span *ngFor="let addition of _additions | async">
                                            <span *ngFor="let add of it.additions">
                                                <ng-template [ngIf]="add === addition._id">
                                                    <p class="addition-name">- {{it.quantity}} {{addition.name}}</p>  
                                                </ng-template>
                                            </span>
                                        </span>
                                    </div>
                                    <mat-divider></mat-divider>
                                </ng-template>
                            </span>
                        </span>
                        <span *ngFor="let addit of _additions | async">
                            <span *ngFor="let ad of order.additions">
                                <ng-template [ngIf]="addit._id === ad.additionId">
                                    <h2 class="name">{{ad.quantity}} {{'ORDER_ATTENTION.ADDITION' | translate}} - {{addit.name}}</h2>
                                    <mat-divider></mat-divider>
                                </ng-template>
                            </span>
                        </span>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
    <div *ngFor="let order of _ordersCanceledByAdmin | async;let ind = index">
        <mat-toolbar class="order" (click)="showOrdersCanceledByAdminDetail(order, ind)">
            <img style="width: 3rem;" src="/images/others-orders.png">
            <span class="order-code">{{'ORDER_ATTENTION.ORDER' | translate}} # {{order.code}} <span style="color:red" *ngIf="order.status === 'ORDER_STATUS.CANCELED'">- {{order.status | translate}}</span></span>
            <span class="app-flex-filler"></span>
            <span *ngFor="let table of _tables | async">
                <ng-template [ngIf]="table._id === order.tableId">
                    <span class="order-table">{{'ORDER_ATTENTION.TABLE' | translate}} {{table._number}}</span>
                </ng-template>
            </span>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-toolbar>
        <div class="order-detail" *ngIf="_ordersCanceledByAdminIndex === ind">
            <mat-card>
                <div *ngFor="let order of _ordersCanceledByAdminDetail | async;">
                    <mat-card-title class="title">{{'ORDER_ATTENTION.TITLE' | translate}} # {{order.code}}</mat-card-title>
                    <button mat-raised-button *ngIf="!orderMarkedToCancel(order)" class="primary-button prepared-button" (click)="setPreparedState(order)">{{'ORDER_ATTENTION.ORDER_PREPARED' | translate}}</button>
                    <button mat-raised-button *ngIf="orderMarkedToCancel(order)" class="primary-button prepared-button" (click)="deleteOrder(order)">{{'ORDER_ATTENTION.DELETE_ORDER' | translate}}</button>
                    <p *ngIf="orderMarkedToCancel(order)" class="waiter-cancel-order-msg">{{'ORDER_ATTENTION.ORDER_CANCELED_MSG' | translate}}</p>
                    <mat-card-content>
                        <mat-divider></mat-divider>
                        <span *ngFor="let item of _items | async">
                            <span *ngFor="let it of order.items">
                                <ng-template [ngIf]="item._id === it.itemId">
                                    <h2 class="name">{{it.quantity}} - {{item.name}}</h2>
                                    <p *ngIf="it.observations" class="observations">{{'ORDER_ATTENTION.OBSERVATIONS' | translate}}: {{it.observations}}</p>
                                    <p *ngIf="(it.garnishFood.length <= 0)" class="no-garnish">{{'ORDER_ATTENTION.NO_GARNISH_FOOD' | translate}}</p>
                                    <div *ngIf="(it.garnishFood.length > 0)" class="garnish-food">
                                        <p class="garnish-title">{{'ORDER_ATTENTION.GARNISH_FOOD' | translate}}:</p>
                                        <span *ngFor="let garnish of _garnishFoodCol | async">
                                            <span *ngFor="let gar of it.garnishFood">
                                                <ng-template [ngIf]="gar === garnish._id">
                                                    <p class="garnish-name">- {{garnish.name}}</p>     
                                                </ng-template>
                                            </span>
                                        </span>
                                    </div>
                                    <p class="no-addition" *ngIf="(it.additions.length <= 0)">- {{'ORDER_ATTENTION.NO_ADDITIONS' | translate}}</p>
                                    <div *ngIf="(it.additions.length > 0)" class="addition">
                                        <p class="addition-title">{{'ORDER_ATTENTION.ADDITIONS' | translate}}:</p>
                                        <span *ngFor="let addition of _additions | async">
                                            <span *ngFor="let add of it.additions">
                                                <ng-template [ngIf]="add === addition._id">
                                                    <p class="addition-name">- {{it.quantity}} {{addition.name}}</p>  
                                                </ng-template>
                                            </span>
                                        </span>
                                    </div>
                                    <mat-divider></mat-divider>
                                </ng-template>
                            </span>
                        </span>
                        <span *ngFor="let addit of _additions | async">
                            <span *ngFor="let ad of order.additions">
                                <ng-template [ngIf]="addit._id === ad.additionId">
                                    <h2 class="name">{{ad.quantity}} {{'ORDER_ATTENTION.ADDITION' | translate}} - {{addit.name}}</h2>
                                    <mat-divider></mat-divider>
                                </ng-template>
                            </span>
                        </span>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="loading" *ngIf="_loading">
    <mat-spinner></mat-spinner>
</div>