<div *ngFor="let userDetail of _usersDetails | async">
    <div *ngFor="let order of _orders | async" class="order">
        <div *ngIf="order.creation_user === userDetail.user_id && order.restaurantId === userDetail.current_restaurant && order.tableId === userDetail.current_table && order.markedToCancel === true">
            <div class="main-info">
                <h2 class="customer-info">{{'EXIT_TABLE_CONFIRM.CUSTOMER' | translate}}: {{ getUserName(userDetail.user_id) }} - {{'EXIT_TABLE_CONFIRM.TABLE' | translate}} # {{_tableNumber}}</h2>
                <p class="order-cancel-error" *ngIf="_showError">{{'EXIT_TABLE_CONFIRM.CANCELING_ORDER_ERROR' | translate}}. {{'EXIT_TABLE_CONFIRM.VALIDATE_ORDER_MSG' | translate}}</p>
            </div>
            <mat-card>
                <mat-card-content>
                    <div class="order-info">
                        <h2 class="order-status">{{'EXIT_TABLE_CONFIRM.ORDER' | translate}} # {{order.code}} - {{'EXIT_TABLE_CONFIRM.STATUS' | translate}}: {{order.status | translate}}</h2>
                        <div *ngIf="order.status !== 'ORDER_STATUS.CANCELED'" class="cancel-order-button">
                            <button mat-raised-button class="primary-button" (click)="cancelOrderToExitTable(order)">{{'EXIT_TABLE_CONFIRM.CANCEL_ORDER' | translate}}</button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <span *ngFor="let it of order.items">
                        <span *ngFor="let item of _items | async">
                            <ng-template [ngIf]="it.itemId === item._id">
                                <h2 class="name">{{it.quantity}} - {{item.name}}</h2>
                                <p *ngIf="it.observations" class="observations">{{'EXIT_TABLE_CONFIRM.OBSERVATIONS' | translate}}: {{it.observations}}</p>
                                <p *ngIf="(it.garnishFood.length <= 0)" class="no-garnish">{{'EXIT_TABLE_CONFIRM.NO_GARNISH_FOOD' | translate}}</p>
                                <div *ngIf="(it.garnishFood.length > 0)" class="garnish-food">
                                    <p class="garnish-title">{{'EXIT_TABLE_CONFIRM.GARNISH_FOOD' | translate}}:</p>
                                    <span *ngFor="let garnish of _garnishFood | async">
                                        <span *ngFor="let gar of it.garnishFood">
                                            <ng-template [ngIf]="gar === garnish._id">
                                                <p class="garnish-name">- {{garnish.name}}</p>     
                                            </ng-template>
                                        </span>
                                    </span>
                                </div>
                                <p class="no-addition" *ngIf="(it.additions.length <= 0)">- {{'EXIT_TABLE_CONFIRM.NO_ADDITIONS' | translate}}</p>
                                <div *ngIf="(it.additions.length > 0)" class="addition">
                                    <p class="addition-title">{{'EXIT_TABLE_CONFIRM.ADDITIONS' | translate}}:</p>
                                    <span *ngFor="let addition of _additions | async">
                                        <span *ngFor="let add of it.additions">
                                            <ng-template [ngIf]="add === addition._id">
                                                <p class="addition-name">- {{it.quantity}} {{addition.name}}</p>  
                                            </ng-template>
                                        </span>
                                    </span>
                                </div>
                                <mat-divider></mat-divider>
                            </ng-template>
                        </span>
                    </span>
                    <span *ngFor="let addit of _additions | async">
                        <span *ngFor="let ad of order.additions">
                            <ng-template [ngIf]="addit._id === ad.additionId">
                                <h2 class="name">{{ad.quantity}} {{'EXIT_TABLE_CONFIRM.ADDITION' | translate}} - {{addit.name}}</h2>
                                <mat-divider></mat-divider>
                            </ng-template>
                        </span>
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<br/>
<button mat-raised-button class="secondary-button" (click)="close()">{{ 'CLOSE' | translate }}</button>
<div class="loading" *ngIf="_loading">
    <mat-spinner></mat-spinner>
</div>