.section-name{
    width: 50%;
}

.checkbox{
    padding-right: 15px;
}

.section{
    width: 44%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
}


.example-header-image {
    background-image: url('/images/warning.png');
    background-size: cover;
  }