<mat-card *ngIf="_thereAreUsers">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{'SECTIONS.WARNING' | translate}} {{_usersCount}} {{'SECTIONS.WARNING_2' | translate}}</mat-card-title>
    <mat-card-subtitle style="margin-bottom: 0px">{{'SECTIONS.WARNING_3' | translate}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card mat-cell="12" class="demo-card demo-basic" *ngIf="!_thereAreRestaurants">
  <mat-card-content>
    <div class="card_initial">
      <div class="card_initial has-image">
        <div class="card_initial-image-container">
          <img class="card_initial-image" src="/images/sections.png" />
        </div>
        <div class="card_initial-copy">
          <div class="card_initial-tagline">
            {{'SECTIONS.THERE_NOT_RESTAURANTS' | translate}}
          </div>
          <div class="card_initial-additional-links">
            {{'SECTIONS.MESSAGE' | translate}}
          </div>
        </div>
        <div class="card_initial-button">
          <button mat-raised-button (click)="goToAddRestaurant()">{{'SECTIONS.RESTAURANT_REGISTER' | translate}}</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="_thereAreRestaurants">
  <mat-card-title>{{'SECTIONS.SECTION_CREATION' | translate}}</mat-card-title>
  <mat-card-subtitle>{{'SECTIONS.SECTION_TEXT' | translate}}</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="_sectionForm" (ngSubmit)="addSection();">
      <div>
        <mat-form-field class="section-name">
          <input matInput required formControlName="name" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="50" #inputName>
          <mat-hint align="end">{{inputName.value.length}} / 50</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <p>{{'SECTIONS.RESTAURANT_SECTION' | translate}}</p>
        <p><label *ngIf="!_showRestaurants" class="label-field-void">{{'SECTIONS.NO_RESTAURANT_CREATED' | translate}}</label></p>
        <div *ngIf="_showRestaurants" formGroupName="restaurants">
          <mat-checkbox *ngFor="let restaurant of _restaurants | async" [formControlName]="restaurant._id" [class.invalid]="!_sectionForm.controls.restaurants.valid"
            class="checkbox">{{restaurant.name}}</mat-checkbox>
          <label></label>
        </div>
      </div>
      <br/>
      <button mat-raised-button class="secondary-button" [disabled]="!_sectionForm.valid" type="button" (click)="cancel()">{{'CANCEL' | translate}}</button>
      <button mat-raised-button class="primary-button" [disabled]="!_sectionForm.valid" type="submit">{{'CREATE' | translate}}</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngFor="let section of _sections | async" class="section">
  <mat-card-title>{{section.name}}</mat-card-title>
  <mat-card-content>
    <p *ngIf="section.restaurants.length == 0">{{'SECTIONS.NO_RESTAURANT' | translate}}</p>
    <div *ngFor="let rst of _restaurants | async">
      <div *ngFor="let secRest of section.restaurants">
        <div *ngIf="rst._id == secRest">
          <div>
            <p mat-line style="font-size: 1rem;">
              <mat-icon style="vertical-align: middle">store</mat-icon>
              <span> {{rst.name}} </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="open(section)" class="secondary-button">{{'SECTIONS.MODIFY' | translate}}</button>
    <button mat-raised-button *ngIf="section.is_active" class="inactive-button" (click)="updateStatus(section)">{{'SECTIONS.INACTIVATE' | translate}}</button>
    <button mat-raised-button *ngIf="!section.is_active" class="active-button" (click)="updateStatus(section)">{{'SECTIONS.ACTIVATE' | translate}}</button>
  </mat-card-actions>
</mat-card>