<div class="background">
    <div class="not-found">
        <div class="notfound-top">
            <h1>404</h1>
        </div>
        <div class="content">
            <div>
                <mat-icon>error_outline</mat-icon>
            </div>
            <h2>{{'NOT_FOUND.PAGE_NOT_FOUND' | translate}}</h2>
            <span>{{'NOT_FOUND.BACK' | translate}} <a routerLink="/">iurest</a></span>
            <div class="social-icons">
                <a class="facebook" href="https://facebook.com"></a>
                <a class="twitter" href="https://twitter.com"></a>
                <a class="google" href="https://google.com"></a>
            </div>
        </div>
        <div class="clear">
            
        </div>
    </div>
</div>