<div class="main">
    <div class="main-w3lsrow">
        <div class="login-form login-form-image signup">
            <div class="signup-logo">
                <a [routerLink]="['/']">
                    <img src="/images/logo_iurest_white.png">
                </a>
                <h3>{{'RESET_PASWORD.SLOGAN' | translate}}</h3>
            </div>
        </div>
        <div class="login-form login-form-right">
            <div>
                <div>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" novalidate>
                        <mat-form-field style="width: 100%">
                            <input matInput formControlName="password" placeholder="{{'PASSWORD' | translate}}" name="password" required type="password">
                        </mat-form-field>
                        <div *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched"
                            class="error-message">{{'SIGNUP.REQUIRED_PASSWORD' | translate}}</div>
                        <div *ngIf="resetPasswordForm.controls['password'].hasError('minlength') && resetPasswordForm.controls['password'].touched"
                            class="error-message">{{'SIGNUP.MIN_LENGTH_PASSWORD' | translate}}</div>
                        <div *ngIf="resetPasswordForm.controls['password'].hasError('maxlength') && resetPasswordForm.controls['password'].touched"
                            class="error-message">{{'SIGNUP.MAX_LENGTH_PASSWORD' | translate}}</div>
                        <br/>

                        <mat-form-field style="width: 100%">
                            <input matInput formControlName="confirmPassword" placeholder="{{'CONFIRM_PASSWORD' | translate}}" name="confirmPassword"
                                required type="password">
                        </mat-form-field>
                        <div *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.controls['confirmPassword'].touched"
                            class="error-message">{{'SIGNUP.REQUIRED_PASSWORD' | translate}}</div>
                        <div *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('minlength') && resetPasswordForm.controls['confirmPassword'].touched"
                            class="error-message">{{'SIGNUP.MIN_LENGTH_PASSWORD' | translate}}</div>
                        <div *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('maxlength') && resetPasswordForm.controls['confirmPassword'].touched"
                            class="error-message">{{'SIGNUP.MAX_LENGTH_PASSWORD' | translate}}</div>

                        <div *ngIf="showConfirmError" class="error-message"> {{'SIGNUP.PASSWORD_NOT_MATCH' | translate}}</div>
                        <br/>
                        <button mat-raised-button class="waves-effect waves-light btn teal lighten-2" type="submit" [disabled]="!resetPasswordForm.valid">{{'RESET_PASWORD.BTN_RESET' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>