<div class="buttom-profile">
  <button mat-icon-button>
    <img class="profile-img" mat-list-avatar src="{{ getUsetImage() }}">
    {{ _userName }}
    <mat-icon></mat-icon>
  </button>
</div>

<mat-nav-list class="side-navigation">
  <c-sidenav-item *ngFor="let menuItem of menuItems" [menuItem]="menuItem" [parent]="_this"></c-sidenav-item>
  
  <a class="so" mat-list-item (click)="signOut()">
    <mat-icon style="color: #ef5350;">launch</mat-icon>
    <span class="title">{{ 'SIGN_OUT' | translate }}</span>
  </a>
</mat-nav-list>
