<app-topnav></app-topnav>
<mat-sidenav-container>
  <mat-sidenav (mouseover)="toggleHover(true)" (mouseout)="toggleHover(false)" (close)="sidenavToggle(false)" (open)="sidenavToggle(true)"
              [mode]="(_navigation.mediumScreenAndDown && sidenavStyle !== 'off') ? 'over' : sidenavMode"
              [ngClass]="{'icon-sidenav': ((sidenavStyle === 'icon' || sidenavStyle === 'icon overlay') && _navigation.largeScreen), 'over': (sidenavStyle === 'icon overlay')}">
    <app-sidenav [isHovering]="isHovering"></app-sidenav>
  </mat-sidenav>
  <header>
  </header>

  <main [ngClass]="{'fixed-header' : (_navigation.fixedNavbar | async), 'icon-sidenav-opened' : ((isHovering || (!isHovering && _isHoveringNew)) && _navigation.largeScreen && sidenavStyle === 'icon overlay')}" style="height: calc(100% - 3px);">
    <div class="container">
      <router-outlet></router-outlet>
      <div class="clearfix"></div>
    </div>
  </main>
  <footer>
    <c-footer></c-footer>
  </footer>
</mat-sidenav-container>