<div *ngFor="let userDetail of _userDetails | async">
    <div class="user-detail" *ngIf=" userDetail.current_restaurant !== '' && userDetail.current_table !== '' ">
        <div *ngFor="let table of _tables | async">
            <div *ngIf="table._id === userDetail.current_table">
                <mat-card *ngIf="_showWaiterCard">
                    <mat-list>
                        <mat-list-item>
                            <img mat-list-avatar class="image" src="/images/waiter.png">
                            <h2 mat-line class="card-title">{{'EXIT_TABLE.WAITER_ON_THE_WAY' | translate}}</h2>
                            <p mat-line class="card-waiter-msg">{{'EXIT_TABLE.CANCEL_ORDERS_MSG' | translate}}</p>            
                            <button mat-raised-button class="primary-button card-button" (click)="cancelWaiterCall(userDetail.current_restaurant, userDetail.current_table)">{{'EXIT_TABLE.CANCEL_CALL' | translate}}</button> 
                        </mat-list-item>
                    </mat-list>
                </mat-card>
                <restaurant-info [restaurantId]="userDetail.current_restaurant" [tableQRCode]="table.QR_code"></restaurant-info>
                <mat-card mat-cell="12" class="demo-card demo-basic">
                    <mat-card-content>
                        <div class="card_initial">
                            <div class="card_initial has-image" style="margin: auto;">
                                <div class="card_initial-image-container">
                                    <img class="card_initial-image" 
                                        src="/images/sections.png"/>
                                </div>
                                <div class="card_initial-copy">
                                    <div class="card_initial-tagline">
                                        {{'EXIT_TABLE.RESTAURANT_EXIT' | translate}}
                                    </div>
                                    <div class="card_initial-additional-links">
                                        {{'EXIT_TABLE.OPTION_LEAVE_RESTAURANT' | translate}}
                                    </div>
                                </div>
                                <div class="card_initial-button">
                                    <button mat-raised-button (click)="exitRestaurantTable(userDetail._id,userDetail.current_restaurant, userDetail.current_table)">{{'EXIT_TABLE.EXIT_MSG' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div style="width: 90%; margin: 0 auto" *ngIf=" userDetail.current_restaurant === '' && userDetail.current_table === '' ">
        <mat-card mat-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto">
            <mat-card-content>
                <div class="card_initial">
                    <div class="card_initial has-image">
                        <div class="card_initial-image-container">
                        <img class="card_initial-image" src="/images/orders.png"/>
                        </div>
                        <div class="card_initial-copy">
                        <div class="card_initial-tagline">
                            {{'EXIT_TABLE.THERE_IS_NOT_REST' | translate}}
                        </div>
                        <div class="card_initial-additional-links">
                            {{'EXIT_TABLE.THERE_IS_NOT_REST_MSG' | translate}}
                        </div>
                        </div>
                        <div class="card_initial-button">
                        <button mat-raised-button (click)="goToOrders()">{{'EXIT_TABLE.GO_TO_ORDERS' | translate}}</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="loading" *ngIf="_loading">
    <mat-spinner></mat-spinner>
</div>