<div class="global-div">
    <div class="div-whitout-overflow">
        <div class="cards-div">
            <mat-card class="card-toolbar" style="margin: 24px;">
                <mat-card-content>
                    <form [formGroup]="_restaurantForm">
                        <mat-tab-group [(selectedIndex)]="selectedIndex">
                            <mat-tab [disabled]="!canMove(0)" label="{{'RESTAURANT_REGISTER.GENERAL_LABEL' | translate}}">
                                <mat-card>
                                    <mat-card-title>{{'RESTAURANT_REGISTER.GENERAL_INFO' | translate}}</mat-card-title>
                                    <mat-card-subtitle>{{'RESTAURANT_REGISTER.GENERAL_INFO_TEXT' | translate}}</mat-card-subtitle>
                                    <mat-card-content>
                                        <div style="margin-top: 3%;">
                                            <mat-form-field style="width: 48%;">
                                                <mat-select formControlName="country" placeholder="{{'RESTAURANT_REGISTER.SELECT_COUNTRY' | translate}}" [(ngModel)]="_selectedCountryValue">
                                                    <mat-option *ngFor="let country of _countries | async" (click)="changeCountry(country._id);" value="{{country._id}}"> {{country.alfaCode3}} - {{country.name | translate}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field style="width: 48%;margin-left: 2%;">
                                                <mat-select formControlName="city" placeholder="{{'RESTAURANT_REGISTER.SELECT_CITY' | translate}}" [(ngModel)]="_selectedCityValue">
                                                    <mat-option *ngFor="let city of _cities | async" (click)="changeCity(city._id);" value="{{city._id}}">{{city.name}}</mat-option>
                                                    <mat-option *ngIf="(_cities | async)?.length > 0" (click)="changeCity('0000');" value="0000">{{'OTHER' | translate}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div>
                                            <div *ngIf="_showMessage" style="display: inline-block; width: 48%; margin-top: 1%">
                                                <p style="font-weight: bold;">{{'RESTAURANT.CITY_OTHER' | translate}}</p>
                                            </div>
                                            <mat-form-field *ngIf="_showMessage" style="width: 48%; margin-left: 2%;">
                                                <input matInput formControlName="otherCity" placeholder="{{'RESTAURANT.WHICH_ONE' | translate}}" required minlength="1" maxlength="50"
                                                    #inputOtherCity>
                                                <mat-hint align="end">{{inputOtherCity.value.length}} / 50</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div style="margin-top: 1%;">
                                            <mat-form-field style="width: 48%">
                                                <textarea matInput required formControlName="name" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="70" #inputName></textarea>
                                                <mat-hint align="end">{{inputName.value.length}} / 70</mat-hint>
                                            </mat-form-field>
                                            <mat-form-field style="width: 48%;margin-left: 2%;">
                                                <textarea matInput required formControlName="address" placeholder="{{'RESTAURANT_REGISTER.ADDRESS' | translate}}" minlength="1"
                                                    maxlength="90" #inputAddress></textarea>
                                                <mat-hint align="end">{{inputAddress.value.length}} / 90</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div style="margin-top: 1%;">
                                            <div style="width: 48%; display: inline-block;text-align: left;">
                                                <p *ngIf="_restaurantCurrency === ''">{{'RESTAURANT_REGISTER.NO_CURRENCY_FOUND' | translate}}</p>
                                                    <p *ngIf="_restaurantCurrency !== ''" style="font-weight: bold;">{{'RESTAURANT_REGISTER.CURRENCY_ACCEPTED' | translate}}: {{_restaurantCurrency}}</p>
                                            </div>
                                            <mat-form-field style="width: 48%;margin-left: 2%;">
                                                <input matInput required formControlName="phone" type="tel" placeholder="{{'RESTAURANT_REGISTER.PHONE' | translate}}" minlength="1"
                                                    maxlength="30" #inputPhone>
                                                <div matPrefix>{{_countryIndicative}}&nbsp;</div>
                                                <mat-hint align="end">{{inputPhone.value.length}} / 30</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field style="width: 48%;">
                                                <input matInput required formControlName="tables_number" type="tel" placeholder="{{'RESTAURANT_REGISTER.INITIAL_TABLES_NUMBER' | translate}} {{'RESTAURANT_REGISTER.MAX_TABLES' | translate}} {{max_table_number}}"
                                                    minlength="1" maxlength="3" #inputInitialTables>
                                                <mat-hint align="end">{{inputInitialTables.value.length}} / 3</mat-hint>
                                            </mat-form-field>
                                            <div style="display: inline-block;width: 48%;margin-left: 2%;text-align: left;">
                                                <p style="display: inline-block;margin-right: 1rem;">{{'RESTAURANT_REGISTER.ADD_RESTAURANT_IMAGE' | translate}}</p>
                                                <input formControlName="image" accept=".png, .jpg, .jpeg" (change)="onChangeImage($event)" style="display: none;"
                                                    type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected"
                                                />
                                                <label for="file-1" style="width: 40%;text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                                                <span *ngIf="!_createImage">{{'CHOOSE_FILE' | translate}}&hellip;</span>
                                                <span *ngIf="_createImage">{{_nameImageFile}}&hellip;</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div style="margin-top: 1%;">
                                            <div>
                                                <p>{{'TIP_PERCENTAGE' | translate}}</p>
                                                <iu-slider [percentageValue]="0" [label]="TIP_PERCENTAGE" [minValue]="0" [maxValue]="100" [stepValue]="0.01" (sliderValue)="setTipValue($event)"></iu-slider>
                                            </div>
                                            <div>
                                                <p>{{'RESTAURANT_REGISTER.ADD_PAYMENTMETHODS_RESTURANT' | translate}}</p>
                                                <div formGroupName="paymentMethods">
                                                    <span *ngFor="let pay of _paymentMethods | async">
                                                        <mat-checkbox [formControlName]="pay._id" [class.invalid]="!_restaurantForm.controls.paymentMethods.valid" style="padding-right: 15px">{{pay.name | translate}}</mat-checkbox>
                                                        <label></label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <p>{{'RESTAURANT_REGISTER.TABLES_MSG' | translate}}</p>
                                    </mat-card-content>
                                    <mat-card-actions align="end">
                                        <button mat-raised-button (click)="cancel()">{{'CANCEL' | translate}}</button>
                                        <button mat-raised-button (click)="next()" [disabled]="!canMove(1)">{{'NEXT' | translate}}</button>
                                    </mat-card-actions>
                                </mat-card>
                            </mat-tab>
                            <mat-tab label="{{'RESTAURANT_REGISTER.LEGAL_LABEL' | translate}}" [disabled]="!canMove(1)">
                                <mat-card>
                                    <mat-card-title>{{'RESTAURANT_REGISTER.LEGAL_INFO' | translate}}</mat-card-title>
                                    <mat-card-subtitle>{{'RESTAURANT_REGISTER.LEGAL_INFO_TEXT' | translate}}</mat-card-subtitle>
                                    <mat-card-content>
                                        <restaurant-legality [countryId]="_selectedCountryValue" (restaurantLegality)="setRestaurantLegality($event)" (previous)="runPrevious($event)"></restaurant-legality>
                                    </mat-card-content>
                                </mat-card>
                            </mat-tab>
                        </mat-tab-group>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div class="loading" *ngIf="_loading">
    <mat-spinner></mat-spinner>
</div>