<mat-card>
    <mat-card-title>{{'SIGNIN.FORGOT_DIALOG.TITLE' | translate }}</mat-card-title>
    <mat-card-content>
        <form [formGroup]="recoverForm" novalidate>
            <div>
                <mat-form-field style="width: 100%">
                    <input matInput formControlName="email" placeholder="{{'SIGNIN.FORGOT_DIALOG.SUBTITLE' | translate}}" style="width: 100%" required>
                </mat-form-field>
                <div *ngIf="recoverForm.controls['email'].hasError('invalidEmailAddress') && recoverForm.controls['email'].touched" class="error-message">{{'SIGNUP.REQUIRED_EMAIL' | translate}}</div>
                <div *ngIf="recoverForm.controls['email'].hasError('minlength') && recoverForm.controls['email'].touched" class="error-message">{{'SIGNUP.MIN_LENGTH_EMAIL' | translate}}</div>
                <div *ngIf="recoverForm.controls['email'].hasError('maxlength') && recoverForm.controls['email'].touched" class="error-message">{{'SIGNUP.MAX_LENGTH_EMAIL' | translate}}</div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button class="secondary-button" (click)="cancel()">{{'SIGNIN.FORGOT_DIALOG.CANCEL' | translate}}</button>
        <button mat-raised-button class="primary-button" type="submit" (click)="recover()" [disabled]="!recoverForm.valid">{{'SIGNIN.FORGOT_DIALOG.SEND' | translate}}</button>
    </mat-card-actions>
</mat-card>