<mat-card mat-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto" *ngIf="_showAlphanumericCodeCard">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <form [formGroup]="_ordersForm" (ngSubmit)="validateQRCodeExists();">
                    <div class="card_initial-image-container">
                        <img class="card_initial-image" 
                            src="/images/delivery-of-item.png"/>
                    </div>
                    <div class="card_initial-copy">
                        <div class="card_initial-tagline">
                            {{ 'ORDERS.MSG_INITIAL' | translate }}
                        </div>
                        <div class="card_initial-additional-links">
                            <mat-form-field style="width: 90%;">
                                <input matInput required formControlName="qrCode" minlength="6" (keypress)="hideMessageError()" class="code" #input [value]="input.value.toUpperCase()">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="card_initial-button">
                        <button mat-raised-button (click)="cancel()">{{'ORDERS.CANCEL' | translate}}</button>
                        <button mat-raised-button [disabled]="!_ordersForm.valid" type="submit">{{'ORDERS.ENTER' | translate}}</button>
                    </div>
                </form>
                <div *ngIf="_showError" class="error">
                    <p>{{'ORDERS.CODE_NOT_FOUND' | translate}}</p>
                    <p>{{'ORDERS.TRY_AGAIN' | translate}}</p>
                </div>
                <div *ngIf="_showTableIsNotActiveError" class="error">
                    <p>{{'ORDERS.TABLE_NO_ACTIVE' | translate}}</p>
                    <p>{{'ORDERS.TRY_AGAIN' | translate}}</p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<order-create *ngIf="_showOrderCreation" [restaurantId]="_currentRestaurant._id" [restaurantCurrency]="_currentRestaurant.currencyId" [tableQRCode]="_currentQRCode" (finishOrdenCreation)="validateFinishOrderCreation($event)"></order-create>
<order-list *ngIf="_showOrderList" [restaurantId]="_currentRestaurant._id" [restaurantCurrency]="_currentRestaurant.currencyId" [tableQRCode]="_currentQRCode" (createNewOrder)="createNewOrder($event)"></order-list>

<div class="fixed-action-btn" *ngIf="!_showOrderList">
    <button *ngIf="_showNewOrderButton" mat-fab (click)="createNewOrder()">
        <mat-icon style="color: white;">add</mat-icon>
    </button>
</div>
<div class="loading" *ngIf="_loading">
    <mat-spinner></mat-spinner>
</div>