<mat-card style="box-shadow: none">
    <mat-card-title>{{'ENABLE_DISABLED.BTN_TOGGLE_MSG' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'ENABLE_DISABLED.DIALOG_SUBTITLE' | translate}}</mat-card-subtitle>
    <mat-card-content>
        <table width="100%">
            <tbody>
                <tr *ngFor="let restaurant of data.one.restaurants">
                    <td>{{getRestaurantName(restaurant.restaurantId)}}</td>
                    <td>
                        <mat-slide-toggle style="float:right" [checked]="restaurant.isAvailable" (change)="updateAvailableFlag(restaurant.restaurantId)"></mat-slide-toggle>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button class="secondary-button" (click)="cancel()">{{ 'ENABLE_DISABLED.CLOSE_DIALOG' | translate }}</button>
    </mat-card-actions>
</mat-card>