<div>
    <p>{{'RESTAURANT_LEGALITY.COLOMBIA.SELECT_REGIME' | translate}}:</p>
    <mat-radio-group [(ngModel)]="_regimeSelected">
        <mat-radio-button [value]="'regime_co'" (change)="radioChange($event)">{{'RESTAURANT_LEGALITY.COLOMBIA.REGIME_CO' | translate}}</mat-radio-button>
        <mat-radio-button class="regime-si" [value]="'regime_si'" (change)="radioChange($event)">{{'RESTAURANT_LEGALITY.COLOMBIA.REGIME_SI' | translate}}</mat-radio-button>
    </mat-radio-group>
</div>
<form [formGroup]="_colombiaLegalityForm">
    <div>
        <div *ngIf="_showForcedToInvoice" class="forced-invoice">
            <mat-checkbox formControlName="forced_to_invoice" (change)="evaluateForcedToInvoiceCheck($event)" [(ngModel)]="_forcedToInvoiceValue">{{'RESTAURANT_LEGALITY.COLOMBIA.FORCED_TO_INVOICE' | translate}}</mat-checkbox>
        </div>
    </div>
    <div *ngIf="_showGeneralInvoice">
        <div>
            <div class="business-name">
                <p>{{'RESTAURANT_LEGALITY.COLOMBIA.BUSINESS_NAME' | translate}}:</p>
                <mat-form-field class="name">
                    <input matInput formControlName="business_name" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.BUSINESS_NAME_PLACEHOLDER' | translate}} *" minlength="1" maxlength="70" #inputBusinessName>
                    <mat-hint align="end">{{inputBusinessName.value.length}} / 70</mat-hint>
                </mat-form-field>
            </div>
            <div class="document">
                <p>{{'RESTAURANT_LEGALITY.COLOMBIA.DOCUMENT' | translate}}:</p>
                <mat-form-field class="name">
                    <input matInput formControlName="document" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.DOCUMENT_PLACEHOLDER' | translate}} *" minlength="1" maxlength="20" #inputDocument>
                    <mat-hint align="end">{{inputDocument.value.length}} / 20</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div>
            <div class="invoice-resolution">
                <p>{{'RESTAURANT_LEGALITY.COLOMBIA.INVOICE_RESOLUTION' | translate}}</p>
                <mat-form-field class="invoice">
                    <input matInput formControlName="invoice_resolution" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.INVOICE_RESOLUTION_PLACEHOLDER' | translate}} *" minlength="1" maxlength="20" #inputInvoiceResolution>
                    <mat-hint align="end">{{inputInvoiceResolution.value.length}} / 20</mat-hint>
                </mat-form-field>
            </div>
            <div class="invoice-resolution-date">
                <p>{{'RESTAURANT_LEGALITY.COLOMBIA.INVOICE_RESOLUTION_DATE' | translate}}</p>
                <mat-form-field class="date">
                    <input matInput [matDatepicker]="pickerInvoiceResol" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.INVOICE_RESOLUTION_DATE_PLACEHOLDER' | translate}} *" formControlName="invoice_resolution_date">
                    <mat-datepicker-toggle [for]="pickerInvoiceResol"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #pickerInvoiceResol></mat-datepicker>
            </div>
        </div>
        <div>
            <mat-checkbox formControlName="prefix" class="prefix" (change)="evaluatePrefixCheck($event)" [(ngModel)]="_prefrixValue">{{'RESTAURANT_LEGALITY.COLOMBIA.PREFIX' | translate}}</mat-checkbox>
            <mat-form-field class="prefix" *ngIf="_showPrefixName">
                <input matInput formControlName="prefix_name" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.PREFIX_PLACEHOLDER' | translate}}" minlength="1" maxlength="10" #inputPrefix>
                <mat-hint align="end">{{inputPrefix.value.length}} / 10</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <p class="dian-numeration">{{'RESTAURANT_LEGALITY.COLOMBIA.DIAN_NUMERATION' | translate}}:</p>
            <mat-form-field>
                <input matInput type="number" formControlName="numeration_from" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.NUMERATION_FROM' | translate}} *" minlength="1">
            </mat-form-field>
            <mat-form-field class="numeration-to">
                <input matInput type="number" formControlName="numeration_to" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.NUMERATION_TO' | translate}} *" minlength="1">
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="_showInvoiceSecondPart">
        <mat-checkbox formControlName="is_big_contributor" (change)="evaluateBigContributorCheck($event)" [(ngModel)]="_bigContributorValue">{{'RESTAURANT_LEGALITY.COLOMBIA.IS_BIG_CONTRIBUTOR' | translate}}</mat-checkbox>
        <div *ngIf="_showBigContributorDetail">
            <div class="dian-big-contributor">
                <p>{{'RESTAURANT_LEGALITY.COLOMBIA.BIG_CONTRIBUTOR_RESOLUTION' | translate}}</p>
                <mat-form-field class="resolution">
                    <input matInput formControlName="big_contributor_resolution" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.INVOICE_RESOLUTION_PLACEHOLDER' | translate}}" minlength="1" maxlength="20" #inputBigContResolution>
                    <mat-hint align="end">{{inputBigContResolution.value.length}} / 20</mat-hint>
                </mat-form-field>
            </div>
            <div class="date-big-contributor">
                <p>{{'RESTAURANT_LEGALITY.COLOMBIA.BIG_CONTRIBUTOR_DATE' | translate}}</p>
                <mat-form-field class="date">
                    <input matInput [matDatepicker]="pickerBigContr" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.INVOICE_RESOLUTION_DATE_PLACEHOLDER' | translate}}" formControlName="big_contributor_date">
                    <mat-datepicker-toggle [for]="pickerBigContr"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #pickerBigContr></mat-datepicker>
            </div>
        </div>
        <mat-checkbox formControlName="is_self_accepting" (change)="evaluateSelfAcceptingCheck($event)" [(ngModel)]="_selfAcceptingValue">{{'RESTAURANT_LEGALITY.COLOMBIA.IS_SELF_ACCEPTING' | translate}}</mat-checkbox>
        <div *ngIf="_showSeltAcceptingDetail">
            <div class="dian-self-accepting">
                <p>{{'RESTAURANT_LEGALITY.COLOMBIA.SELF_ACCEPTING_RESOLUTION' | translate}}</p>
                <mat-form-field class="resolution">
                    <input matInput formControlName="self_accepting_resolution" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.INVOICE_RESOLUTION_PLACEHOLDER' | translate}}" minlength="1" maxlength="20" #inputSeltAcResolution>
                    <mat-hint align="end">{{inputSeltAcResolution.value.length}} / 20</mat-hint>
                </mat-form-field>
            </div>
            <div class="date-self-accepting">
                <p>{{'RESTAURANT_LEGALITY.COLOMBIA.SELF_ACCEPTING_DATE' | translate}}</p>
                <mat-form-field class="date">
                    <input matInput [matDatepicker]="pickerSelfAccept" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.INVOICE_RESOLUTION_DATE_PLACEHOLDER' | translate}}" formControlName="self_accepting_date">
                    <mat-datepicker-toggle [for]="pickerSelfAccept"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #pickerSelfAccept></mat-datepicker>
            </div>
        </div>
    </div>
    <div *ngIf="_showInvoiceFinalPart">
        <p>{{'RESTAURANT_LEGALITY.COLOMBIA.FINAL_TEXT' | translate}}:</p>
        <mat-form-field class="final-text">
            <textarea matInput formControlName="text_at_the_end" placeholder="{{'RESTAURANT_LEGALITY.COLOMBIA.FINAL_TEXT_PLACEHOLDER' | translate}}" minlength="1" maxlength="150" #inputFinalText></textarea>
            <mat-hint align="end">{{inputFinalText.value.length}} / 150</mat-hint>
        </mat-form-field>
    </div>
</form>
<mat-card-actions align="end" class="buttons">
    <button mat-raised-button *ngIf="restaurantId" (click)="cancelEdition()">{{'CANCEL' | translate}}</button>
    <button mat-raised-button (click)="previousTab()">{{'BACK' | translate}}</button>
    <button mat-raised-button (click)="buildColombiaRestaurantLegality()">{{'FINISH' | translate}}</button>
</mat-card-actions>