<mat-card>
  <mat-card-title>{{'SUBCATEGORIES.SUBCATEGORY_EDIT' | translate}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="_editForm" (ngSubmit)="editSubCategory();">
      <mat-form-field class="name">
          <input matInput required formControlName="editName" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="50" #editInputName>
          <mat-hint align="end">{{editInputName.value.length}} / 50</mat-hint>
      </mat-form-field>
      <mat-form-field class="select">
        <mat-select formControlName="editCategory" placeholder="{{'SUBCATEGORIES.CATEGORY_SELECTION' | translate}}">
          <mat-option *ngFor="let category of _categories | async" value="{{category._id}}" (click)="changeCategoryEdit(category._id);" ng-selected="_subcategoryCategory === category._id">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle formControlName="editActive">{{'STATE' | translate}}</mat-slide-toggle>
      <br/>
      <div>
        <button mat-raised-button class="secondary-button" type="button" (click)="_dialogRef.close()">{{'CANCEL' | translate}}</button>
        <button mat-raised-button class="primary-button" [disabled]="!_editForm.valid" type="submit">{{'UPDATE' | translate}}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>