<div class="page">
    <div class="signup-logo animated fadeInDown" data-animation="fadeIn" data-timeout="300">
        <a [routerLink]="['/']">
            <img src="/images/logo_iurest_190_x_60.png">
        </a>
    </div>

    <div *ngIf="_ic === 't'" class="content animated fadeInDown" data-animation="fadeInUp" data-timeout="500">
        <h1>
            {{'GO_TO_STORE.CLIENT.TITTLE' | translate}}
            <br class="visible-phone"/>
            {{'GO_TO_STORE.CLIENT.SUB_TITTLE' | translate}}
        </h1>
        <h3>
            {{'GO_TO_STORE.CLIENT.CONTENT' | translate}}
        </h3>
        
        <div class="dwtl opacity animated fadeInDown" data-animation="fadeInUp" data-timeout="1500">
            <a href="">
                <img *ngIf="_userLang === 'en'" alt="" src="/images/asd-en.png"/>
                <img *ngIf="_userLang === 'es'" alt="" src="/images/asd-es.png"/>
            </a>
            <a href="">
                <img *ngIf="_userLang === 'en'" alt="" src="/images/psd-en.png"/>
                <img *ngIf="_userLang === 'es'" alt="" src="/images/psd-es.png"/>
            </a>
        </div>
    </div>
    
    <div *ngIf="_ic === 'f'" class="content animated fadeInDown" data-animation="fadeInUp" data-timeout="600">
        <h1>
            {{'GO_TO_STORE.COLLABORATOR.TITTLE' | translate}}
        </h1>
        <button mat-raised-button class="primary-button" style="font-size: .9rem" [routerLink]="['/signin']">{{'GO_TO_STORE.COLLABORATOR.BUTTON' | translate}}</button>
    </div>
</div>