.name{
    width: 40%;
}

.select{
    width: 40%;
    margin-left: 2%;
}

.subcategory{
    width: 27%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;

    .category-active{
        color: green;
        font-weight: bold;
    }

    .category-inactive{
        color: red;
        font-weight: bold;
    }

}

.example-header-image {
    background-image: url('/images/warning.png');
    background-size: cover;
  }