<mat-card>
    <mat-card-content>
        <form [formGroup]="_restaurantEditionForm">
            <mat-tab-group [(selectedIndex)]="selectedIndex">
                <mat-tab [disabled]="!canMove(0)" label="{{'RESTAURANT_EDITION.GENERAL_LABEL' | translate}}">
                    <mat-card>
                        <mat-card-title-group>
                            <img mat-card-sm-image src="{{_restaurantEditImage}}">
                            <mat-card-title>{{'RESTAURANT_EDITION.GENERAL_INFO' | translate}}</mat-card-title>
                            <mat-card-subtitle>{{'RESTAURANT_EDITION.GENERAL_INFO_TEXT' | translate}}</mat-card-subtitle>
                        </mat-card-title-group>
                        <mat-card-content>
                            <div style="margin-top: 3%;">
                                <mat-form-field  style="width: 48%;">
                                    <mat-select formControlName="country" placeholder="{{'RESTAURANT_EDITION.SELECT_COUNTRY' | translate}}" [(ngModel)]="_selectedCountryValue">
                                        <mat-option *ngFor="let country of _countries | async" (click)="changeCountry(country._id);" value="{{country._id}}" ng-selected="_restaurantCountryValue === country._id">{{country.name | translate}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field style="width: 48%;margin-left: 2%;">
                                    <mat-select formControlName="city" placeholder="{{'RESTAURANT_EDITION.SELECT_CITY' | translate}}" [(ngModel)]="_selectedCityValue">
                                        <mat-option *ngFor="let city of _cities | async" (click)="changeCity(city._id);" value="{{city._id}}">{{city.name}}</mat-option>
                                        <mat-option (click)="changeCity('0000');" value="0000">{{'RESTAURANT_EDITION.OTHER' | translate}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div *ngIf="_showOtherCity">
                                <div style="display: inline-block; width: 48%; margin-top: 1%">
                                    <p style="font-weight: bold;">{{'RESTAURANT_EDITION.CITY_OTHER' | translate}}</p>
                                </div>
                                <mat-form-field style="width: 48%; margin-left: 2%;">
                                    <input matInput formControlName="otherCity" placeholder="{{'RESTAURANT.WHICH_ONE' | translate}}" required
                                        minlength="1" maxlength="50" #inputOtherCity>
                                    <mat-hint align="end">{{inputOtherCity.value.length}} / 50</mat-hint>
                                </mat-form-field>
                            </div>

                            <div style="margin-top: 1%;">
                                <mat-form-field style="width: 48%">
                                    <textarea matInput required formControlName="name" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="70" #inputName></textarea>
                                    <mat-hint align="end">{{inputName.value.length}} / 70</mat-hint>
                                </mat-form-field>
                                <mat-form-field style="width: 48%;margin-left: 2%;">
                                    <textarea matInput required formControlName="address" placeholder="{{'RESTAURANT_EDITION.ADDRESS' | translate}}" minlength="1"
                                        maxlength="90" #inputAddress></textarea>
                                    <mat-hint align="end">{{inputAddress.value.length}} / 90</mat-hint>
                                </mat-form-field>
                            </div>
                            <div style="margin-top: 1%;">
                                <div style="width: 48%; display: inline-block;text-align: left;">
                                    <p style="font-weight: bold;">{{'RESTAURANT_REGISTER.CURRENCY_ACCEPTED' | translate}}: {{_restaurantCurrency}}</p>
                                </div>
                                <mat-form-field style="width: 48%;margin-left: 2%;">
                                    <input matInput required formControlName="phone" type="tel" placeholder="{{'RESTAURANT_EDITION.PHONE' | translate}}" minlength="1"
                                        maxlength="30" #inputPhone>
                                    <div matPrefix>{{_countryIndicative}}&nbsp;</div>
                                    <mat-hint align="end">{{inputPhone.value.length}} / 30</mat-hint>
                                </mat-form-field>
                            </div>
                            <div>
                                <div style="display: inline-block;width: 48%;">
                                    <p style="display: inline-block;margin-right: 0.5rem;">{{'RESTAURANT_EDITION.UPDATE_IMAGE' | translate}}</p>
                                    <input formControlName="editImage" accept=".png, .jpg, .jpeg" (change)="onChangeImage($event)" style="display: none" type="file"
                                        name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected"
                                    />
                                    <label for="file-1" style="width: 40%;text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                                        <span *ngIf="!_editImage">{{'CHOOSE_FILE' | translate}}&hellip;</span>
                                        <span *ngIf="_editImage">{{_nameImageFileEdit}}&hellip;</span>
                                    </label>
                                </div>
                                <div style="display: inline-block;width: 48%;margin-left: 2%;">
                                    <p>{{'TIP_PERCENTAGE' | translate}}</p>
                                    <iu-slider [percentageValue]="_tipValue" [label]="TIP_PERCENTAGE" [minValue]="0" [maxValue]="100" [stepValue]="0.01" (sliderValue)="setTipValue($event)"></iu-slider>
                                </div>
                            </div>
                            <div style="margin-top: 1%;">
                                <p>{{'RESTAURANT_EDITION.ADD_PAYMENTMETHODS_RESTURANT' | translate}}</p>
                                <div formGroupName="paymentMethods">
                                    <mat-checkbox *ngFor="let payment of _paymentMethodsList" [formControlName]="payment.name" [class.invalid]="!_restaurantEditionForm.controls.paymentMethods.valid"
                                        style="padding-right: 15px">{{payment.name}}</mat-checkbox>
                                    <label></label>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-raised-button (click)="cancel();">{{'CANCEL' | translate}}</button>
                            <button mat-raised-button (click)="next()" [disabled]="!canMove(1)">{{'NEXT' | translate}}</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-tab>
                <mat-tab [disabled]="!canMove(1)" label="{{'RESTAURANT_EDITION.LEGAL_LABEL' | translate}}">
                    <mat-card>
                        <mat-card-title>{{'RESTAURANT_EDITION.LEGAL_INFO' | translate}}</mat-card-title>
                        <mat-card-subtitle>{{'RESTAURANT_EDITION.LEGAL_INFO_TEXT' | translate}}</mat-card-subtitle>
                        <mat-card-content>
                            <restaurant-legality [countryId]="_selectedCountryValue" [restaurantId]="_restaurantToEdit._id" (restaurantLegality)="setRestaurantLegality($event)" (previous)="runPrevious($event)" (cancel)="runCancel($event)"></restaurant-legality>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </form>
    </mat-card-content>
</mat-card>