<div>
    <div style="display: inline-block;">
        <mat-form-field style="width: 220px;">
            <mat-select placeholder="{{'SCHEDULE.SELECT_OPENING_HOUR' | translate}}">
                <mat-option *ngFor="let hour of _hours | async" value="{{hour.hour}}" (click)="changeOpenTime(hour.hour)">{{hour.hour}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <label style="padding-left: 20px; padding-right: 20px;font-size: 1.2rem;display: inline-block;"> - </label>
    <div style="display: inline-block;">
        <mat-form-field>
            <mat-select placeholder="{{'SCHEDULE.SELECT_CLOSING_HOUR' | translate}}">
                <mat-option *ngFor="let hour of _hours | async" value="{{hour.hour}}" (click)="changeCloseTime(hour.hour)">{{hour.hour}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<br/>
<mat-button-toggle matTooltip="{{'SCHEDULE.MONDAY' | translate}}" [(checked)]="schedule.monday.isActive" [(disabled)]="!_allowWeekButtons" (change)="evalueDays($event)" value="Mon">{{'SCHEDULE.MONDAY_LETTER' | translate}}</mat-button-toggle>
<mat-button-toggle matTooltip="{{'SCHEDULE.TUESDAY' | translate}}" [(checked)]="schedule.tuesday.isActive" [(disabled)]="!_allowWeekButtons" (change)="evalueDays($event)" value="Tues">{{'SCHEDULE.TUESDAY_LETTER' | translate}}</mat-button-toggle>
<mat-button-toggle matTooltip="{{'SCHEDULE.WEDNESDAY' | translate}}" [(checked)]="schedule.wednesday.isActive" [(disabled)]="!_allowWeekButtons" (change)="evalueDays($event)" value="Wed">{{'SCHEDULE.WEDNESDAY_LETTER' | translate}}</mat-button-toggle>
<mat-button-toggle matTooltip="{{'SCHEDULE.THURSDAY' | translate}}" [(checked)]="schedule.thursday.isActive" [(disabled)]="!_allowWeekButtons" (change)="evalueDays($event)" value="Thur">{{'SCHEDULE.THURSDAY_LETTER' | translate}}</mat-button-toggle>
<mat-button-toggle matTooltip="{{'SCHEDULE.FRIDAY' | translate}}" [(checked)]="schedule.friday.isActive" [(disabled)]="!_allowWeekButtons" (change)="evalueDays($event)" value="Fri">{{'SCHEDULE.FRIDAY_LETTER' | translate}}</mat-button-toggle>
<mat-button-toggle matTooltip="{{'SCHEDULE.SATURDAY' | translate}}" [(checked)]="schedule.saturday.isActive" [(disabled)]="!_allowWeekButtons" (change)="evalueDays($event)" value="Sat">{{'SCHEDULE.SATURDAY_LETTER' | translate}}</mat-button-toggle>
<mat-button-toggle matTooltip="{{'SCHEDULE.SUNDAY' | translate}}" [(checked)]="schedule.sunday.isActive" [(disabled)]="!_allowWeekButtons" (change)="evalueDays($event)" value="Sun">{{'SCHEDULE.SUNDAY_LETTER' | translate}}</mat-button-toggle>
<mat-button-toggle matTooltip="{{'SCHEDULE.HOLIDAY' | translate}}" [(checked)]="schedule.holiday.isActive" [(disabled)]="!_allowWeekButtons" (change)="evalueDays($event)" value="Hol">{{'SCHEDULE.HOLIDAY_LETTER' | translate}}</mat-button-toggle>
<br/>
<br/>
<button mat-raised-button [(disabled)]="!_allowWeekButtons" (click)="buildSchedule()">{{'SCHEDULE.ADD_SCHEDULE' | translate}}</button>
<br/>
<br/>
<table class="centered striped" style="width: 60%;" cellspacing="0">
    <thead>
        <tr>
            <th>{{'SCHEDULE.WEEKDAY' | translate}}</th>
            <th>{{'SCHEDULE.OPENING_HOUR' | translate}}</th>
            <th>{{'SCHEDULE.CLOSING_HOUR' | translate}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!schedule.monday.isActive && !schedule.tuesday.isActive && 
                !schedule.wednesday.isActive && !schedule.thursday.isActive && 
                !schedule.friday.isActive && !schedule.saturday.isActive && 
                !schedule.sunday.isActive && !schedule.holiday.isActive">
            <td colspan="4">
                <label>{{'SCHEDULE.NO_RESTAURANT_HOURS' | translate}}</label>
            </td>
        </tr>
        <tr *ngIf="schedule.monday.isActive">
            <td><label>{{'WEEK.MONDAY' | translate}}</label></td>
            <td><label>{{schedule.monday.opening_time}}</label></td>
            <td><label>{{schedule.monday.closing_time}}</label></td>
            <td>
            <button mat-icon-button matTooltip="{{'SCHEDULE.DELETE' | translate}}" (click)="inactiveDay('Mon')">
                <mat-icon>clear</mat-icon>
            </button>
            </td> 
        </tr>
        <tr *ngIf="schedule.tuesday.isActive">
            <td><label>{{'WEEK.TUESDAY' | translate}}</label></td>
            <td><label>{{schedule.tuesday.opening_time}}</label></td>
            <td><label>{{schedule.tuesday.closing_time}}</label></td>
            <td>
            <button mat-icon-button matTooltip="{{'SCHEDULE.DELETE' | translate}}" (click)="inactiveDay('Tues')">
                <mat-icon>clear</mat-icon>
            </button>
            </td> 
        </tr>
        <tr *ngIf="schedule.wednesday.isActive">
            <td><label>{{'WEEK.WEDNESDAY' | translate}}</label></td>
            <td><label>{{schedule.wednesday.opening_time}}</label></td>
            <td><label>{{schedule.wednesday.closing_time}}</label></td>
            <td>
            <button mat-icon-button matTooltip="{{'SCHEDULE.DELETE' | translate}}" (click)="inactiveDay('Wed')">
                <mat-icon>clear</mat-icon>
            </button>
            </td> 
        </tr>
        <tr *ngIf="schedule.thursday.isActive">
            <td><label>{{'WEEK.THURSDAY' | translate}}</label></td>
            <td><label>{{schedule.thursday.opening_time}}</label></td>
            <td><label>{{schedule.thursday.closing_time}}</label></td>
            <td>
            <button mat-icon-button matTooltip="{{'SCHEDULE.DELETE' | translate}}" (click)="inactiveDay('Thur')">
                <mat-icon>clear</mat-icon>
            </button>
            </td> 
        </tr>
        <tr *ngIf="schedule.friday.isActive">
            <td><label>{{'WEEK.FRIDAY' | translate}}</label></td>
            <td><label>{{schedule.friday.opening_time}}</label></td>
            <td><label>{{schedule.friday.closing_time}}</label></td>
            <td>
            <button mat-icon-button matTooltip="{{'SCHEDULE.DELETE' | translate}}" (click)="inactiveDay('Fri')">
                <mat-icon>clear</mat-icon>
            </button>
            </td> 
        </tr>
        <tr *ngIf="schedule.saturday.isActive">
            <td><label>{{'WEEK.SATURDAY' | translate}}</label></td>
            <td><label>{{schedule.saturday.opening_time}}</label></td>
            <td><label>{{schedule.saturday.closing_time}}</label></td>
            <td>
            <button mat-icon-button matTooltip="{{'SCHEDULE.DELETE' | translate}}" (click)="inactiveDay('Sat')">
                <mat-icon>clear</mat-icon>
            </button>
            </td> 
        </tr>
        <tr *ngIf="schedule.sunday.isActive">
            <td><label>{{'WEEK.SUNDAY' | translate}}</label></td>
            <td><label>{{schedule.sunday.opening_time}}</label></td>
            <td><label>{{schedule.sunday.closing_time}}</label></td>
            <td>
            <button mat-icon-button matTooltip="{{'SCHEDULE.DELETE' | translate}}" (click)="inactiveDay('Sun')">
                <mat-icon>clear</mat-icon>
            </button>
            </td> 
        </tr>
        <tr *ngIf="schedule.holiday.isActive">
            <td><label>{{'WEEK.HOLIDAY' | translate}}</label></td>
            <td><label>{{schedule.holiday.opening_time}}</label></td>
            <td><label>{{schedule.holiday.closing_time}}</label></td>
            <td>
            <button mat-icon-button matTooltip="{{'SCHEDULE.DELETE' | translate}}" (click)="inactiveDay('Hol')">
                <mat-icon>clear</mat-icon>
            </button>
            </td> 
        </tr>
    </tbody>                        
</table>