<mat-card style="box-shadow: none">
    <mat-card-title>{{'PAYU_PAYMENT_FORM.TRANSACTION_STATUS' | translate}}</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <img mat-list-avatar class="image" src="/images/{{data.transactionImage}}">
                <h1 mat-line class="card-title">{{data.transactionResponse | translate}}</h1>
                <p *ngIf="data.transactionResponse != 'PAYU_PAYMENT_FORM.AUTH_ERROR_MSG'" mat-line>{{'PAYU_PAYMENT_FORM.TRANSACTION_MSG' | translate}}</p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
        <button *ngIf="showCancelButton" mat-raised-button class="secondary-button" (click)="cancel()">{{ 'PAYU_PAYMENT_FORM.PAY_ACCEPT' | translate }}</button>
        <button *ngIf="!showCancelButton" mat-raised-button class="primary-button" (click)="closeConfirm()">{{ 'PAYU_PAYMENT_FORM.PAY_ACCEPT' | translate }}</button>
    </mat-card-actions>
</mat-card>