<div *ngFor="let userDetail of _userDetails | async">
  <div *ngIf=" userDetail.current_restaurant !== '' && userDetail.current_table !== '' ">
    <div *ngFor="let restaurant of _restaurants | async">
      <div *ngIf="restaurant._id === userDetail.current_restaurant">
        <div [ngSwitch]="restaurant.countryId">
          <iu-colombia-payment *ngSwitchCase="'1900'" [restId]="restaurant._id" [currId]="restaurant.currencyId" [tabId]="userDetail.current_table"></iu-colombia-payment>
        </div> 
      </div>
    </div>
  </div>
  <div *ngIf=" userDetail.current_restaurant === '' && userDetail.current_table === '' ">
    <mat-card mat-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto" *ngIf="!_showPaymentInfo">
        <mat-card-content>
            <div class="card_initial">
                <div class="card_initial has-image">
                  <div class="card_initial-image-container">
                    <img class="card_initial-image" src="/images/payment-desabled.png"/>
                  </div>
                  <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                      {{'PAYMENTS.THERE_IS_NOT_REST' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                      {{'PAYMENTS.THERE_IS_NOT_REST_MSG' | translate}}
                    </div>
                  </div>
                  <div class="card_initial-button">
                    <button mat-raised-button (click)="goToOrders()">{{'PAYMENTS.GO_TO_ORDERS' | translate}}</button>
                  </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
  </div>
</div>