<mat-card *ngIf="!_thereAreRestaurants" mat-cell="12" class="demo-card demo-basic">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" 
                        src="/images/tables.png"/>
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'SECTIONS.THERE_NOT_RESTAURANTS' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                      {{'SECTIONS.MESSAGE' | translate}}
                    </div>
                </div>
                <div class="card_initial-button">
                    <button mat-raised-button (click)="goToAddRestaurant()">{{'SECTIONS.RESTAURANT_REGISTER' | translate}}</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div *ngIf="_thereAreTables" style="width: 100%">
    <mat-card>
        <mat-card-title>{{'TABLES.TABLES_SEARCH' | translate}}</mat-card-title>
        <mat-card-subtitle>{{'TABLES.SEARCH_TABLES' | translate}}</mat-card-subtitle>
        <mat-card-content>
            <mat-form-field style="width: 95%; margin-bottom: 30px">
                <mat-select placeholder="{{'TABLES.SELECT_RESTAURANT' | translate}}">
                    <mat-option *ngFor="let rest of restaurants | async" (click)="changeRestaurantFilter(rest._id);" value="{{rest._id}}">{{rest.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="show_cards">
                <mat-checkbox [(ngModel)]="all_checked" [disabled]="enable_print" matTooltip="{{tooltip_msg}}">{{'TABLES.SELECT_ALL' | translate}}

                </mat-checkbox>
                <button mat-raised-button class="secondary-button" type="button" (click)="printQrPdf()" style="margin-left: 10px;" [disabled]="enable_print"
                    matTooltip="{{tooltip_msg}}">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{'TABLES.GENERATE_PDF' | translate}}
                    </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<br/>
<div *ngIf="show_cards">
    <mat-card id="qr-card" *ngFor="let table of tables | async" style="display: inline-block; margin-right: 20px; width:250px">
        <mat-card-header>
            <mat-card-title *ngFor="let rest of restaurants | async">
                <div *ngIf="rest._id == table.restaurantId">
                    <label>{{rest.name}}</label>
                </div>
            </mat-card-title>
            <mat-card-subtitle>
                <label>{{'TABLES.TABLE_CODE' | translate}}: <strong>{{table.QR_code}}</strong> </label>
            </mat-card-subtitle>
            <mat-card-subtitle>
                <label>#{{table._number}}</label>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <br/>
            <label style="margin-left: 8px"></label>
            <div align="center">
                <img style="width:100px;height:100px;" src='{{table.QR_URI}}'>
            </div>
            <div align="center" style="margin-top: 10px">
                <mat-checkbox [checked]="all_checked" (change)="addToPrintArray(table, $event.checked)" [disabled]="enable_print">{{'TABLES.SELECT' | translate}}</mat-checkbox>
            </div>
        </mat-card-content>
    </mat-card>
</div>