<mat-card mat-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto" *ngIf="!_thereAreItems">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" src="/images/items-enabled.png" />
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'ITEMS.MESSAGE' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div class="main" *ngIf="_thereAreItems">
    <div class="main-overflow">
        <mat-card class="custom-cards" *ngFor="let item of _items | async">
            <div class="header-card">
                <img src="{{ getItemImage(item._id) }}">
                <span class="mat-card-title">{{item.name}}</span>
            </div>
            <mat-card-content>
                <p *ngIf="item.description.length > 50">{{item.description.substring(1, 50)}}...</p>
                <p *ngIf="item.description.length <= 50">{{item.description}}</p>
                <mat-slide-toggle [checked]="getItemAvailable(item)" (change)="updateAvailableFlag(item._id)">{{'ENABLE_DISABLED.BTN_TOGGLE_MSG' | translate}}</mat-slide-toggle>
            </mat-card-content>
        </mat-card>
    </div>
</div>