<mat-card>
    <mat-card-content>
        <form [formGroup]="_itemForm">
             <mat-tab-group [(selectedIndex)]="selectedIndex">
                 <mat-tab [disabled]="!canMove(0)" label="{{'ITEMS.SECTIONS_CATEGORIES' | translate}}">
                     <mat-card>
                        <mat-card-title>{{'ITEMS.SECTIONS_CATEGORIES' | translate}}</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{'ITEMS.SECTIONS_CATEGORIES_TEXT' | translate}}</mat-card-subtitle>
                        <mat-card-content>
                            <div>
                                <mat-form-field  style="width: 30%;">
                                    <mat-select formControlName="section" placeholder="{{'ITEMS.SELECT_SECTION' | translate}}" [(ngModel)]="_selectedSectionValue">
                                        <mat-option *ngFor="let sec of _sections | async" (click)="changeSection(sec._id);" value="{{sec._id}}">{{sec.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field style="width: 30%;margin-left: 3%;">
                                    <mat-select formControlName="category" placeholder="{{'ITEMS.SELECT_CATEGORY' | translate}}" [(ngModel)]="_selectedCategoryValue">
                                        <mat-option *ngFor="let cat of _categories | async" (click)="changeCategory(cat._id);" value="{{cat._id}}">{{cat.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field style="width: 30%;margin-left: 3%;">
                                    <mat-select formControlName="subcategory" placeholder="{{'ITEMS.SELECT_SUBCATEGORY' | translate}}" [(ngModel)]="_selectedSubcategoryValue">
                                        <mat-option *ngFor="let subcat of _subcategories | async" (click)="changeSubcategory(subcat._id);" value="{{subcat._id}}">{{subcat.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-raised-button (click)="cancel()">{{'CANCEL' | translate}}</button>
                            <button mat-raised-button (click)="next()" [disabled]="!canMove(1)">{{'NEXT' | translate}}</button>
                        </mat-card-actions>
                     </mat-card>
                 </mat-tab>
                 <mat-tab [disabled]="!canMove(1)" label="{{'ITEMS.GENERAL' | translate}}">
                     <mat-card>
                        <mat-card-title>{{'ITEMS.GENERAL_INFORMATION' | translate}}</mat-card-title>
                        <mat-card-subtitle>{{'ITEMS.GENERAL_TEXT' | translate}}</mat-card-subtitle>
                        <mat-card-content>
                            <div>
                                <mat-form-field class="name">
                                    <input matInput required formControlName="name" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="55" #inputName>
                                    <mat-hint align="end">{{inputName.value.length}} / 55</mat-hint>
                                </mat-form-field>
                                <mat-slide-toggle formControlName="observations" class="toogle">{{'ITEMS.OBSERVATIONS' | translate}}</mat-slide-toggle>
                            </div>
                            <div>
                                <mat-form-field class="description">
                                    <textarea matInput required formControlName="description" placeholder="{{'DESCRIPTION' | translate}}" minlength="1" maxlength="200" #inputDesc></textarea>
                                    <mat-hint align="end">{{inputDesc.value.length}} / 200</mat-hint>
                                </mat-form-field>
                                <div class="image">
                                    <p>{{'ITEMS.ADD_IMAGE' | translate}}:</p>
                                    <input formControlName="image" accept=".png, .jpg, .jpeg" (change)="onChangeImage($event)" style="display: none" type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected"/>
                                    <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                                        <span *ngIf="!_createImage">{{'CHOOSE_FILE' | translate}}&hellip;</span>
                                        <span *ngIf="_createImage">{{_nameImageFile}}&hellip;</span>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <mat-form-field  style="width: 30%;margin-top: 2%;">
                                    <mat-select formControlName="cookingTime" placeholder="{{'ITEMS.COOKING_TIME' | translate}}">
                                        <mat-option value="5 min aprox">5 min aprox</mat-option>
                                        <mat-option value="15 min aprox">15 min aprox</mat-option>
                                        <mat-option value="30 min aprox">30 min aprox</mat-option>
                                        <mat-option value="45 min aprox">45 min aprox</mat-option>
                                        <mat-option value="1 h aprox">1 h aprox</mat-option>
                                        <mat-option value="1 h 15 min aprox">1 h 15 min aprox</mat-option>
                                        <mat-option value="1 h 30 min aprox">1 h 30 min aprox</mat-option>
                                        <mat-option value="1 h 45 min aprox">1 h 45 min aprox</mat-option>
                                        <mat-option value="2 h aprox">2 h aprox</mat-option>
                                        <mat-option value="+ 2 h aprox">+ 2 h aprox</mat-option>                                                                        
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="restaurants">
                                <p *ngIf="!_showRestaurants">{{'ITEMS.NO_RESTAURANTS' | translate}}</p>
                                <div *ngIf="_showRestaurants" formGroupName="restaurants">
                                    <mat-checkbox *ngFor="let restaurant of _restaurantList" [formControlName]="restaurant._id" [class.invalid]="!_itemForm.controls.restaurants.valid" class="checkbox" (change)="onCheckRestaurant(restaurant.name, $event)">{{restaurant.name}}</mat-checkbox>
                                </div>
                            </div>
                            <div>
                                <p *ngIf="!_showCurrencies">{{'ITEMS.NO_RESTAURANTS_SELECTED' | translate}}</p>
                                <p *ngIf="_showCurrencies" class="label">{{'ITEMS.ENTER_PRICE' | translate}}</p>
                                <p *ngIf="_showTaxes" class="label">{{'ITEMS.ENTER_TAX' | translate}}</p>
                                <div *ngFor="let currency of _currencies | async">
                                    <div *ngIf="_showCurrencies" formGroupName="currencies" class="currencies">
                                        <div *ngFor="let cur of _restaurantCurrencies">
                                            <mat-form-field *ngIf="currency._id === cur" class="currency">
                                                <input matInput required [formControlName]="cur" [class.invalid]="!_itemForm.controls.currencies.valid" type="number" placeholder="{{'ITEMS.ITEM_PRICE' | translate}}" min="0" [step]="currency.decimal">
                                                <span matSuffix>{{currency.code}} - {{currency.name | translate}} </span>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div *ngIf="_showTaxes" formGroupName="taxes" class="taxes">
                                        <div *ngFor="let tax of _restaurantTaxes">
                                            <mat-form-field *ngIf="currency._id === tax" class="tax">
                                                <input matInput required [formControlName]="tax" [class.invalid]="!_itemForm.controls.taxes.valid" type="number" placeholder="{{'ITEMS.TAXES' | translate}}" min="0" max="100">
                                                <span matSuffix>% {{currency.code}} - {{currency.name | translate}} </span>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-raised-button (click)="previous()" [disabled]="!canMove(0)">{{'BACK' | translate}}</button>
                            <button mat-raised-button (click)="next()" [disabled]="!canMove(2)">{{'NEXT' | translate}}</button>
                        </mat-card-actions>
                     </mat-card>
                 </mat-tab>
                 <mat-tab [disabled]="!canMove(2)" label="{{'ITEMS.ADDITION_GARNISHFOOD' | translate}}">
                    <mat-card>
                        <mat-card-title>{{'ITEMS.ADDITION_GARNISHFOOD_TITLE' | translate}}</mat-card-title>
                        <mat-card-subtitle>{{'ITEMS.ADDITION_GARNISHFOOD_SUBTITLE' | translate}}</mat-card-subtitle>
                        <mat-card-content>
                            <p *ngIf="!_showGarnishFood">{{'ITEMS.NOT_GARNISHFOOD' | translate}}</p>
                            <div *ngIf="_showGarnishFood">
                                <p>{{'ITEMS.GARNISHFOOD_TEXT' | translate}}</p>
                                <mat-form-field style="width: 25%;margin-top: 1%;">
                                    <input matInput required type="number" formControlName="garnishFoodQuantity" placeholder="{{'ITEMS.GARNISHFOOD_ALLOWED' | translate}}" min="0" #inputGarnishQuantity>
                                </mat-form-field>
                                <br/>
                                <mat-checkbox style="font-weight: bold;" (change)="markAllGarnishFood($event)">{{'ITEMS.SELECT_ALL_GARNISH_FOOD' | translate}}</mat-checkbox>
                                <br/>
                                <div formGroupName="garnishFood">
                                    <mat-checkbox *ngFor="let garnish of _garnishFood" [formControlName]="garnish._id" [class.invalid]="!_itemForm.controls.garnishFood.valid" class="checkbox">{{garnish.name}}</mat-checkbox>
                                </div>
                            </div>
                            <p *ngIf="!_showAdditions">{{'ITEMS.NOT_ADDITIONS' | translate}}</p>
                            <div *ngIf="_showAdditions">
                                <p>{{'ITEMS.ADDITIONS_TEXT' | translate}}:</p>
                                <mat-checkbox style="font-weight: bold;" (change)="markAllAdditions($event)">{{'ITEMS.SELECT_ALL_ADDITIONS' | translate}}</mat-checkbox>
                                <br/>
                                <div formGroupName="additions">
                                    <mat-checkbox *ngFor="let addition of _additions" [formControlName]="addition._id" [class.invalid]="!_itemForm.controls.additions.valid" class="checkbox">{{addition.name}}</mat-checkbox>
                                </div>
                            </div>
                            <p *ngIf="!showGarnishFoodQuantityMsg()" class="garnishQuantityMsg">{{'ITEMS.GARNISHFOOD_QUANTITY_MSG' | translate}}</p>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-raised-button (click)="cancel()">{{'CANCEL' | translate}}</button>
                            <button mat-raised-button (click)="previous()" [disabled]="!canMove(1)">{{'BACK' | translate}}</button>
                            <button mat-raised-button [disabled]="!canFinish()" (click)="addItem()">{{'FINISH' | translate}}</button>
                        </mat-card-actions>
                    </mat-card>
                 </mat-tab>
             </mat-tab-group>
        </form>
    </mat-card-content>
</mat-card>
<div class="loading" *ngIf="_loading">
    <mat-spinner></mat-spinner>
</div>