<mat-card *ngIf="!_thereAreRestaurants" mat-cell="12" class="demo-card demo-basic">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" src="/images/tables.png" />
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'SECTIONS.THERE_NOT_RESTAURANTS' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                        {{'SECTIONS.MESSAGE' | translate}}
                    </div>
                </div>
                <div class="card_initial-button">
                    <button mat-raised-button (click)="goToAddRestaurant()">{{'SECTIONS.RESTAURANT_REGISTER' | translate}}</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<restaurant-list *ngIf="_thereAreRestaurants && _showRestaurantList" (gotoenabledisabled)="goToEnableDisable($event)"></restaurant-list>
<enable-disable *ngIf="_thereAreRestaurants && _showEnableDisable" [restaurantId]="_restaurantId" (gotorestaurantlist)="goToRestaurantList($event)"></enable-disable>