<div class="main">
    <div *ngFor="let restaurant of _restaurants | async">
        <mat-card class="restaurant-info">
            <mat-list>
                <mat-list-item>
                    <img mat-list-avatar class="img" src="{{ getRestaurantImage( restaurant._id ) }}">
                    <h2 mat-line class="name"> {{restaurant.name}} </h2>
                    <p mat-line class="location">
                        <mat-icon class="location-icon">location_on</mat-icon>
                        <span>{{_restaurantCountry}}, {{_restaurantCity}}</span>
                    </p>
                    <button mat-raised-button class="primary-button menu-button">{{'RESTAURANT_PROFILE_DETAIL.VIEW_MENU' | translate}}</button>
                </mat-list-item>
            </mat-list>
        </mat-card>
        <div *ngIf="(_restaurantsProfile | async)?.length <= 0">
            <mat-card mat-cell="12" class="demo-card demo-basic" class="no-restaurant-info">
                <mat-card-content>
                    <div class="card_initial">
                        <div class="card_initial has-image">
                            <div class="card_initial-image-container">
                                <img class="card_initial-image" src="/images/restaurantes.png"/>
                            </div>
                            <div class="card_initial-copy">
                                <div class="card_initial-tagline">
                                    {{'RESTAURANT_PROFILE_DETAIL.NO_PROFILE' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <span *ngFor="let restaurantProfile of _restaurantsProfile | async">
            <ng-template [ngIf]="restaurant._id === restaurantProfile.restaurant_id">
                <div>
                    <div class="about-photos-panel">
                        <mat-card class="about">
                            <mat-card-title>{{'RESTAURANT_PROFILE_DETAIL.ABOUT_RESTAURANT' | translate}}</mat-card-title>
                            <mat-card-content>
                                <p>{{restaurantProfile.restaurant_description}}</p>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="photos" *ngIf="(_restaurantProfileImgThumbs | async)?.length <= 4">
                            <mat-card-title>{{'RESTAURANT_PROFILE_DETAIL.PHOTOS' | translate}}</mat-card-title>
                            <p *ngIf="(_restaurantProfileImgThumbs | async)?.length <= 0">{{'RESTAURANT_PROFILE_DETAIL.NO_PHOTOS' | translate}}</p>
                            <mat-card-content>
                                <img *ngFor="let restProfileImgeThumb of _restaurantProfileImgThumbs | async" md-card-image class="img-thumb" src="{{restProfileImgeThumb.url}}">
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="photos" *ngIf="(_restaurantProfileImgThumbs | async)?.length >= 5">
                            <mat-card-title>{{'RESTAURANT_PROFILE_DETAIL.PHOTOS' | translate}}</mat-card-title>
                            <mat-card-content>
                                <div ng2-carouselamos [items]="_profileImgsThumbs" [width]="380" [$prev]="prev" [$next]="next" [$item]="item"></div>
                                <ng-template style="margin: 30px;" #prev>
                                    <mat-icon>keyboard_arrow_left</mat-icon>
                                </ng-template>
                                <ng-template style="margin: 30px;" #next>
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </ng-template>
                                <ng-template #item let-item let-i="index">
                                    <img class="img-thumb" src="{{ item.url }}">      
                                </ng-template>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="contact-payments-panel">
                        <mat-card class="contact">
                            <mat-card-title>{{'RESTAURANT_PROFILE_DETAIL.CONTACT' | translate}}</mat-card-title>
                            <mat-card-content>
                                <mat-list>
                                    <mat-list-item>
                                        <p *ngIf="restaurantProfile.web_page" mat-line class="font-info">
                                            <mat-icon class="icon">language</mat-icon>
                                            <a target="_blank" href="{{ getWebPageUrl( restaurantProfile.web_page ) }}">{{restaurantProfile.web_page}}</a>
                                        </p>
                                        <p *ngIf="!restaurantProfile.web_page" mat-line class="font-info">
                                            <mat-icon class="icon">language</mat-icon>
                                            <span>{{'RESTAURANT_PROFILE_DETAIL.NO_WEB_PAGE' | translate}}</span>
                                        </p>
                                        <p *ngIf="restaurantProfile.phone" mat-line class="font-info">
                                            <mat-icon class="icon">call</mat-icon>
                                            <span>{{restaurantProfile.phone}}</span>
                                        </p>
                                        <p *ngIf="!restaurantProfile.phone" mat-line class="font-info">
                                            <mat-icon class="icon">call</mat-icon>
                                            <span>{{'RESTAURANT_PROFILE_DETAIL.NO_PHONE' | translate}}</span>
                                        </p>
                                        <p *ngIf="restaurantProfile.email" mat-line class="font-info">
                                            <mat-icon class="icon">email</mat-icon>
                                            <span>{{restaurantProfile.email}}</span>
                                        </p>
                                        <p *ngIf="!restaurantProfile.email" mat-line class="font-info">
                                            <mat-icon class="icon">email</mat-icon>
                                            <span>{{'RESTAURANT_PROFILE_DETAIL.NO_EMAIL' | translate}}</span>
                                        </p>
                                    </mat-list-item>
                                </mat-list>
                                <div class="schedule-social-networks">
                                    <button mat-icon-button (click)="openSchedule(restaurantProfile)">
                                        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                                    </button>
                                    <div *ngIf="restaurantProfile.social_networks" class="social-networks">
                                        <button *ngIf="restaurantProfile.social_networks.facebook" mat-icon-button (click)="openFacebookLink(restaurantProfile.social_networks.facebook)">
                                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                                        </button>
                                        <button *ngIf="restaurantProfile.social_networks.twitter" mat-icon-button (click)="openTwitterLink(restaurantProfile.social_networks.twitter)">
                                            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                                        </button>
                                        <button *ngIf="restaurantProfile.social_networks.instagram" mat-icon-button (click)="openInstagramLink(restaurantProfile.social_networks.instagram)">
                                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="payment-methods">
                            <mat-card-title>{{'RESTAURANT_PROFILE_DETAIL.PAYMENT_METHODS' | translate}}</mat-card-title>
                            <mat-card-content class="all-payments">
                                <mat-list class="payment-meth" *ngFor="let paymentMethod of _restaurantPaymentMethods | async">
                                    <mat-list-item>
                                        <p mat-line class="payment-info">
                                            <img matListAvatar class="payment-thumb" src="{{ getPaymentMethodImg( paymentMethod.name ) }}">
                                            <label matLine class="payment-name">{{paymentMethod.name | translate}}</label>
                                        </p>
                                    </mat-list-item>
                                </mat-list>
                                <p>{{'RESTAURANT_PROFILE_DETAIL.CURRENCY_ACCEPTED' | translate}}: {{_restaurantCurrency}}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div>
                    <mat-card>
                        <mat-card-title>{{'RESTAURANT_PROFILE_DETAIL.LOCATION' | translate}}</mat-card-title>
                        <mat-card-content>
                            <p>{{'RESTAURANT_PROFILE_DETAIL.ADDRESS' | translate}}: {{restaurant.address}}</p>
                            <agm-map [latitude]="restaurantProfile.location.lat" [longitude]="restaurantProfile.location.lng">
                                <agm-marker [latitude]="restaurantProfile.location.lat" [longitude]="restaurantProfile.location.lng"></agm-marker>
                            </agm-map>
                        </mat-card-content>
                    </mat-card>
                </div>
            </ng-template>
        </span>
    </div>
</div>