.select{
    width: 95%; 
    margin-bottom: 30px
}

.table-control{
    border:0.5px solid; 
    border-color: lightgrey; 
    margin-bottom: 20px
}

.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
    min-height: 48px;
}

.item-name {
    width: 49%;
    display: inline-block;
    white-space: normal;
    vertical-align: super;
}

.item-price-quantity {
    width: 49%;
    display: inline-block;
    vertical-align: super;
}

.main{
    margin-bottom: 20px;

    .order-info{

        .image{
            border-radius: 50%; 
            width: 80px; 
            height: 80px;
        }
        .title{
            color: black;
            font-weight: bold;
        }
    }

    .divider{
        margin-left: 7rem;
        width: 80%;
    }

    .order-details{
        .element{
            margin-left: 7rem;

            .display-inline {
                display: inline;
            }
            
            .quantity{
                display: inline;
                margin-left: 2rem;
            }
            
            .price{
                float: right;
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
            }

            .total{
                display: inline;
                margin-left: 3rem;
                color: black;
            }
        }
    }
}

.img-cards {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}