.name{
    margin-bottom: 0%;
}

.observations{
    margin-bottom: 0%;
}

.no-garnish{
    display: inline-block;
    color: green;
    font-weight: bold;
    margin-bottom: 0%;
}

.garnish-food{
    .garnish-title{
        display: inline-block;
        color: green;
        font-weight: bold;
        margin-bottom: 0%
    }

    .garnish-name{
        display: inline-block;
        color: green;
        font-weight: bold;
        margin-bottom: 0%;
    }
}

.no-addition{
    display: inline-block;
    color: darkgoldenrod;
    font-weight: bold;
}

.addition{
    .addition-title{
        display: inline-block;
        color: darkgoldenrod;
        font-weight: bold;
    }

    .addition-name{
        display: inline-block;
        color: darkgoldenrod;
        font-weight: bold;
    }
}