<div class="order-form-1">
    <div class="order-form-2">
        <div class="menu-items">
            <div class="menu-items-content">
                <div class="content">
                    <mat-card mat-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto" *ngIf="!_showOrdersInfo">
                        <mat-card-content>
                            <div class="card_initial">
                                <div class="card_initial has-image">
                                    <div class="card_initial-image-container">
                                        <img class="card_initial-image" src="/images/payment-desabled.png" />
                                    </div>
                                    <div class="card_initial-copy">
                                        <div class="card_initial-tagline">
                                            {{'PAYMENTS.THERE_IS_NOT_REST' | translate}}
                                        </div>
                                        <div class="card_initial-additional-links">
                                            {{'PAYMENTS.THERE_IS_NOT_REST_MSG' | translate}}
                                        </div>
                                    </div>
                                    <div class="card_initial-button">
                                        <button mat-raised-button (click)="goToOrders()">{{'PAYMENTS.GO_TO_ORDERS' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <div *ngIf="_showOrdersInfo">
                        <mat-card mat-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto" *ngIf="!_showOrderDetails">
                            <mat-card-content>
                                <div class="card_initial">
                                    <div class="card_initial has-image">
                                        <div class="card_initial-image-container">
                                            <img class="card_initial-image" src="/images/payment-desabled.png" />
                                        </div>
                                        <div class="card_initial-copy">
                                            <div class="card_initial-tagline">
                                                {{'PAYMENTS.NO_ORDERS' | translate}}
                                            </div>
                                            <div class="card_initial-additional-links">
                                            </div>
                                        </div>
                                        <div class="card_initial-button">
                                            <button mat-raised-button (click)="goToOrders()">{{'PAYMENTS.GO_TO_ORDERS' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="main" *ngIf="_showOrderDetails">
                            <mat-card-title>{{'PAYMENTS.COLOMBIA.ORDER_DETAILS' | translate}}</mat-card-title>
                            <mat-card-subtitle>{{'PAYMENTS.COLOMBIA.VIEW_ORDER_DETAILS' | translate}}</mat-card-subtitle>
                            <mat-card-content>
                                <div *ngFor="let order of _orders | async">
                                    <mat-list class="order-info">
                                        <mat-list-item>
                                            <img mat-list-avatar class="image" src="/images/orders.png">
                                            <h2 mat-line class="title">{{ 'PAYMENTS.COLOMBIA.PAY_ORDER' | translate }} # {{order.code}} - {{'PAYMENTS.COLOMBIA.FULL_PAYMENT' | translate}}: {{order.totalPayment}} {{_currencyCode}}</h2>
                                            <p mat-line class="title">{{'PAYMENTS.COLOMBIA.STATUS' | translate}}: {{order.status | translate}}</p>
                                            <button mat-icon-button *ngIf="isAvailableToReturn(order)" matTooltip="{{ 'PAYMENTS.COLOMBIA.RETURN_ORDER' | translate }}"
                                                mdTooltipPosition="above" (click)="returnOrderToFirstOwner(order)"><mat-icon class="mat-24">repeat</mat-icon></button>
                                        </mat-list-item>
                                    </mat-list>
                                    <mat-list class="order-details">
                                        <div *ngIf="(order.items.length > 0)">
                                            <span *ngFor="let it of order.items">
                                                <span *ngFor="let item of _items | async">
                                                    <ng-template [ngIf]="item._id === it.itemId">
                                                        <mat-list-item class="element">
                                                            <img mat-list-avatar style="flex-shrink: 0;width: 4rem;height: 4rem;border-radius: 0;" src="{{ getItemImage(item._id) }}">
                                                            <h4 mat-line>{{item.name}}</h4>
                                                            <div mat-line>
                                                                <p class="price">{{'PAYMENTS.COLOMBIA.PRICE' | translate}}: {{ getUnitPrice(item) }} {{_currencyCode}}</p>
                                                                <p class="quantity">{{'PAYMENTS.COLOMBIA.QUANT' | translate}} {{it.quantity}}</p>
                                                                <p class="total">{{'PAYMENTS.COLOMBIA.TOTAL' | translate}}: {{ getTotalPrice(item, it.quantity) }} {{_currencyCode}}</p>
                                                            </div>
                                                        </mat-list-item>
                                                        <mat-divider class="divider"></mat-divider>                                            
                                                        <div *ngIf="(it.garnishFood.length > 0)">
                                                            <span *ngFor="let gar of it.garnishFood">
                                                                <span *ngFor="let garnish of _garnishFood | async">
                                                                    <ng-template [ngIf]="gar === garnish._id">
                                                                        <mat-list-item class="element">
                                                                            <img mat-list-avatar style="flex-shrink: 0;width: 4rem;height: 4rem;border-radius: 0;" src="/images/default_addition.png">
                                                                            <h4 mat-line>{{garnish.name}} ({{'PAYMENTS.COLOMBIA.GARNISH_FOOD' | translate}})</h4>
                                                                            <div mat-line>
                                                                                <p class="price">{{'PAYMENTS.COLOMBIA.PRICE' | translate}}: {{ getGarnisFoodUnitPrice(garnish) }} {{_currencyCode}}</p>
                                                                                <p class="quantity">{{'PAYMENTS.COLOMBIA.QUANT' | translate}} {{it.quantity}}</p>
                                                                                <p class="total">{{'PAYMENTS.COLOMBIA.TOTAL' | translate}}: {{ getGarnishFoodTotalPrice(garnish, it.quantity) }} {{_currencyCode}}</p>
                                                                            </div>
                                                                        </mat-list-item>
                                                                    </ng-template>
                                                                </span>
                                                                <mat-divider class="divider"></mat-divider>
                                                            </span>
                                                        </div>
                                                        <div *ngIf="(it.additions.length > 0)">
                                                            <span *ngFor="let ad of it.additions">
                                                                <span *ngFor="let addition of _additions | async">
                                                                    <ng-template [ngIf]="ad === addition._id">
                                                                        <mat-list-item class="element">
                                                                            <img mat-list-avatar style="flex-shrink: 0;width: 4rem;height: 4rem;border-radius: 0;" src="/images/default_addition.png">
                                                                            <h4 mat-line>{{addition.name}} ({{'PAYMENTS.COLOMBIA.ADDITION' | translate}})</h4>
                                                                            <div mat-line>
                                                                                <p class="price">{{'PAYMENTS.COLOMBIA.PRICE' | translate}}: {{ getAdditionUnitPrice(addition) }} {{_currencyCode}}</p>
                                                                                <p class="quantity">{{'PAYMENTS.COLOMBIA.QUANT' | translate}} {{it.quantity}}</p>
                                                                                <p class="total">{{'PAYMENTS.COLOMBIA.TOTAL' | translate}}: {{ getAdditionTotalPrice(addition, it.quantity) }} {{_currencyCode}}</p>
                                                                            </div>
                                                                        </mat-list-item>
                                                                    </ng-template>
                                                                </span>
                                                                <mat-divider class="divider"></mat-divider>
                                                            </span>
                                                        </div>
                                                    </ng-template>
                                                </span>
                                            </span>
                                        </div>
                                        <div *ngIf="(order.additions.length > 0)">
                                            <span *ngFor="let add of order.additions">
                                                <span *ngFor="let addition of _additions | async">
                                                    <ng-template [ngIf]="add.additionId === addition._id">
                                                        <mat-list-item class="element">
                                                            <img mat-list-avatar style="flex-shrink: 0;width: 4rem;height: 4rem;border-radius: 0;" src="/images/default_addition.png">
                                                            <h4 mat-line>{{addition.name}} ({{'PAYMENTS.COLOMBIA.ADDITION' | translate}})</h4>
                                                            <div mat-line>
                                                                <p class="price">{{'PAYMENTS.COLOMBIA.PRICE' | translate}}: {{ getAdditionUnitPrice(addition) }} {{_currencyCode}}</p>
                                                                <p class="quantity">{{'PAYMENTS.COLOMBIA.QUANT' | translate}} {{add.quantity}}</p>
                                                                <p class="total">{{'PAYMENTS.COLOMBIA.TOTAL' | translate}}: {{add.paymentAddition}} {{_currencyCode}}</p>
                                                            </div>
                                                        </mat-list-item>
                                                    </ng-template>
                                                </span>
                                                <mat-divider class="divider"></mat-divider>
                                            </span>
                                        </div>
                                    </mat-list>
                                </div>
                                <table class="centered striped" *ngIf="_showRegimeCoData">
                                    <thead>
                                        <tr>
                                            <th data-field="subtotal">{{'PAYMENTS.COLOMBIA.SUBTOTAL' | translate}}</th>
                                            <th data-field="inc">{{'PAYMENTS.COLOMBIA.INC' | translate}} (8%)</th>
                                            <th data-field="total">{{'PAYMENTS.COLOMBIA.TOTAL' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{_ipoComBaseString}} {{_currencyCode}}</td>
                                            <td>{{_ipoComString}} {{_currencyCode}}</td>
                                            <td style="font-weight: bold;">{{_totalValue}} {{_currencyCode}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div *ngIf="_showRegimeSiData" class="regime-si-total">
                                    <p class="info">{{'PAYMENTS.COLOMBIA.TOTAL' | translate}}:</p>
                                    <p class="info">{{_totalValue}} {{_currencyCode}}</p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="fixed-action-btn">
                    <button id="fb" mat-fab (click)="returnToPaymentsComponent()">
                        <mat-icon class="color-button-icon">keyboard_arrow_left</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>